openapi: 3.2.0
info:
  version: 0.1.0
  title: Whitespace Platform Version API
  description: 'Last update 29th May 2025


    Our intention is to cover the API calls most of use to those wanting to integrate external systems to the Whitespace Platform.'
servers:
- description: Sandbox Environment
  url: https://sandbox.whitespace.co.uk/
- description: Tess Environment
  url: https://tess.whitespace.co.uk/
- description: Beta Environment
  url: https://beta.whitespace.co.uk/
- description: Staging Environment
  url: https://staging.whitespace.co.uk/
security:
- bearerAuth: []
tags:
- name: Version
paths:
  /api/version:
    get:
      summary: Version message for the latest build of the API library
      tags:
      - Version
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  revapiCommit:
                    type: string
                    description: commit of the api library
                    example: 7ace78cb91d72b7fba303ebe50cb0c1e720abd61
                  buildDate:
                    type: string
                    description: timestamp of the build
                    example: 2021-11-22@22:23:10
                  revapiCommitMessage:
                    type: string
                    description: commit message
                    example: Merge pull request 112
                  riskLibraryCommit:
                    type: string
                    description: commit of the underlying business logic library
                    example: 7ace78cb91d72b7fba303ebe50cb0c1e720abd61
          description: Version message for the latest build of the API library
      operationId: getApiVersion
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
