openapi: 3.2.0
info:
  version: 0.1.0
  title: Whitespace Platform Sections API
  description: 'Last update 29th May 2025


    Our intention is to cover the API calls most of use to those wanting to integrate external systems to the Whitespace Platform.'
servers:
- description: Sandbox Environment
  url: https://sandbox.whitespace.co.uk/
- description: Tess Environment
  url: https://tess.whitespace.co.uk/
- description: Beta Environment
  url: https://beta.whitespace.co.uk/
- description: Staging Environment
  url: https://staging.whitespace.co.uk/
security:
- bearerAuth: []
tags:
- name: Sections
paths:
  /api/sections/{rootID}/save:
    post:
      summary: Saves an array of section identifiers for the risk - Broker Only
      description: Called by the broker in specifying the sections that apply. Note that the data can be fetched via /api/documents/$RootID::MS or alongside other data via /api/overview/$RootID
      tags:
      - Sections
      parameters:
      - in: path
        name: rootID
        schema:
          type: string
        required: true
        description: The first part of the riskID, starting IC and stopping before any '::' delimiters
        example: IC213DA609-D6B5-4A05-86B8-3FD91E861F57
      requestBody:
        description: JMRC object
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  index:
                    type: number
                    example: 2
                    description: index, starting at 1, to set the order of the sections
                  multiSectionId:
                    type: string
                    example: '2'
                    description: numeric title for the section, for when space is short
                  multiSectionName:
                    type: string
                    example: Cargo
                    description: textual title for the section
            examples:
              normal:
                value:
                - index: 1
                  multiSectionId: '1'
                  multiSectionName: Hull
                - index: 2
                  multiSectionId: '2'
                  multiSectionName: Cargo
                - index: 3
                  multiSectionId: '3'
                  multiSectionName: Liability
      responses:
        '200':
          description: Successful response contains document id and revision
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: the document ID for the section document, being $RootID::MS
                      example: IC213DA609-D6B5-4A05-86B8-3FD91E861F57::MS
                    rev:
                      type: string
                      description: the revision for the section document
                      example: 1-98bbeb9b566269e39f14a2f59bc489c2
                    ok:
                      type: boolean
                      description: true if the data was saved
                      example: true
      operationId: postApiSectionsByRootIDSave
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
