openapi: 3.2.0
info:
  version: 0.1.0
  title: Whitespace Platform Internal Broker Note API
  description: 'Last update 29th May 2025


    Our intention is to cover the API calls most of use to those wanting to integrate external systems to the Whitespace Platform.'
servers:
- description: Sandbox Environment
  url: https://sandbox.whitespace.co.uk/
- description: Tess Environment
  url: https://tess.whitespace.co.uk/
- description: Beta Environment
  url: https://beta.whitespace.co.uk/
- description: Staging Environment
  url: https://staging.whitespace.co.uk/
security:
- bearerAuth: []
tags:
- name: Internal Broker Note
paths:
  /api/brokerNote/{rootID}/save:
    post:
      summary: Add text to the internal brokers'' note belonging to the risk, creating it if…
      parameters:
      - in: path
        name: rootID
        schema:
          type: string
        required: true
        description: The unique root ID of the risk
        example: IC213DA609-D6B5-4A05-86B8-3FD91E861F57
      tags:
      - Internal Broker Note
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                elements:
                  type: array
                  items:
                    type: object
                    properties:
                      text:
                        type: string
                        description: The text of the note to add
                        example: Note to self
                      index:
                        type: integer
                        description: the line of the text
                        example: 0
      responses:
        '200':
          description: A confirmation of the saved data
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg:
                    type: string
                    description: Message to confirm broker note has been saved
                    example: Successfully updated broker note.
      operationId: postApiBrokerNoteByRootIDSave
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
