openapi: 3.2.0
info:
  version: 0.1.0
  title: Whitespace Platform Summary API
  description: <div>Last update 29th May 2025</div> <p/> <div>Our intention is to cover the API calls most of use to those wanting  to integrate external systems to the Whitespace Platform. We will give  some descriptions about usage, but put full detail in standalone documents at  <a href='https://apidocs.whitespace.co.uk/'>https://apidocs.whitespace.co.uk/</a>. We intend to have the published endpoints and schemas documented to the  level that the code generated can be used safely and without modification to call our APIs safely.</div>  <p/> <div>Calls exclusive to brokers or underwriters have a comment of Broker Only and Underwriter Only respectively. All other calls work for both, but functionality might depend on the stage the risk is at, or other contextual factors.</div> <div>Where certain properties refer to RootID or similar, they are actually referring to the ID of the entire slip, encompassing all stages and instances of the contract. This is a unique 38-character reference starting with the letters IC. If they mention riskID or docID or placingID, these are refering to the ID of a specific document or contract instance within the slip. This is always the RootID of the base slip followed by a double colon, ::, and further characters.</div> <div> Once your Integration is ready to go live, the URL for production is <b>https://www.whitespaceplatform.com</b></div>
servers:
- description: Sandbox Environment
  url: https://sandbox.whitespace.co.uk/
- description: Tess Environment
  url: https://tess.whitespace.co.uk/
- description: Beta Environment
  url: https://beta.whitespace.co.uk/
- description: Staging Environment
  url: https://staging.whitespace.co.uk/
security:
- bearerAuth: []
tags:
- name: Summary
paths:
  /api/summary:
    get:
      summary: returns batches of risk summaries
      description: <p>This endpoint returns 60 risks at a time.  Without parameters it will return the most recently changed risks.  The <b>last</b> and <b>from</b> query string parameters enable calls to page through all risks.</p>
      tags:
      - Summary
      parameters:
      - in: query
        required: false
        name: last
        description: The rootID for the last document returned by the previous call
        example: IC467868DE-2E64-4828-913B-A5789191CF3B
        schema:
          type: string
      - in: query
        required: false
        name: from
        description: The date for the last document returned by the previous call
        example: 2021-11-22%2006:37:49
        schema:
          type: string
      responses:
        '200':
          description: an array of RWRiskSummary objects
          content:
            application/json:
              examples:
                One:
                  description: a full response across many risks
                  value:
                  - _id: RWRiskSummary::ICF4D673E7-43BF-4EC1-AFBF-E640A39C9223::whitesails_MARINE
                    _rev: 1-52ff74b12576b09322cea096822717b6
                    actions:
                    - uwFirmOrder:1640793869.0
                    docs:
                    - channels:
                      - gailbkr_ALL
                      - whitesails_MARINE
                      createdAt: '2021-12-29 16:04:29'
                      createdInVersion: 20100
                      id: ICF4D673E7-43BF-4EC1-AFBF-E640A39C9223::FO::WHITESAILS::MARINE
                      inceptionDate: 1564617600
                      insuredName: GM 29/12 001
                      isFacility: false
                      lastModifiedBy: MU0A7E5E65-AF27-4615-A447-E2AB41B1CF61
                      leadUnderwriterChannel: ''
                      limitSummary: USD 20,000,000
                      placementType: FullContract
                      placingBrokerChannel: gailbkr_ALL
                      rev: 1-3f0a3f1de3b981e565b1c90b59c13f7f
                      status: FirmOrder
                      type: RWPlacing
                      umr: B0999GM2912211559
                      updatedAt: '2021-12-29 16:04:29'
                    - channels:
                      - gailbkr_ALL
                      - whitesails_MARINE
                      empty: false
                      id: ICF4D673E7-43BF-4EC1-AFBF-E640A39C9223::FO::WHITESAILS::MARINE::LGUS
                      sections:
                      - index: 2
                        leadUnderwriterChannel: sscarrier_ALL
                        multiSectionId: '2'
                        multiSectionName: '2: Liability'
                      type: RWLineGuidanceSet
                    - id: ICF4D673E7-43BF-4EC1-AFBF-E640A39C9223::OWN::WHITESAILS::MARINE
                      ownerChannel: whitesails_MARINE
                      ownerUserID: MUD84FE66A-077F-457C-B962-ABE7375907E8
                      type: RWRiskOwner
                      updatedAt: '2021-12-29 16:04:30'
                    filters:
                    - ptype:FullContract
                    - status:FirmOrderPending
                    - umr:b0999gm2912211559
                    - name:001
                    - action:uwFirmOrder
                    - name:29/12 001
                    - status:FirmOrder
                    - owner:MUD84FE66A-077F-457C-B962-ABE7375907E8
                    - name:gm 29/12 001
                    - ctype:Open Market
                    rootID: ICF4D673E7-43BF-4EC1-AFBF-E640A39C9223
                    updatedAt: '2021-12-29 16:04:30'
                  - _id: RWRiskSummary::IC474C46AB-197A-4928-B352-9D04CB7A4319::whitesails_MARINE
                    _rev: 5-b3aefdbc600a6ddf5be75fec217a1fea
                    actions: []
                    docs:
                    - channels:
                      - whitesails_MARINE
                      - gailbkr_ALL
                      id: IC474C46AB-197A-4928-B352-9D04CB7A4319::CHAT::690E57A6-12DE-4B84-862E-19E126BCF931
                      rev: 1-96be7fb47fd41ce7a8bd1c4fe848303a
                      sender: MUD84FE66A-077F-457C-B962-ABE7375907E8
                      type: RWComment
                      updatedAt: '2021-12-29 15:47:25'
                    - carriers:
                        mcneillieuwr_ALL:
                        - '60'
                      id: IC474C46AB-197A-4928-B352-9D04CB7A4319::FO::MCNEILLIEUWR::ALL::SILS
                      signed:
                      - '60'
                      type: RWSignedLineSet
                      updatedAt: '2021-12-29 12:24:21'
                    - carriers:
                        sscarrier_ALL:
                        - '70'
                      id: IC474C46AB-197A-4928-B352-9D04CB7A4319::FO::SSCARRIER::ALL::SILS
                      signed:
                      - '70'
                      type: RWSignedLineSet
                      updatedAt: '2021-12-29 12:24:21'
                    - carriers:
                        sscarrier_ALL:
                        - '70'
                      id: IC474C46AB-197A-4928-B352-9D04CB7A4319::FO::SSCARRIER::ALL::WRLS-whitesails_MARINE
                      needsApproving: false
                      type: RWWrittenLineSet
                      updatedAt: '2021-12-29 12:18:43'
                      written:
                      - '70'
                    - carriers:
                        whitecliffs_PROPERTY:
                        - '40'
                      id: IC474C46AB-197A-4928-B352-9D04CB7A4319::FO::WHITECLIFFS::PROPERTY::SILS
                      signed:
                      - '40'
                      type: RWSignedLineSet
                      updatedAt: '2021-12-29 12:24:21'
                    - channels:
                      - gailbkr_ALL
                      - whitesails_MARINE
                      createdAt: '2021-12-29 12:12:23'
                      createdInVersion: 20100
                      id: IC474C46AB-197A-4928-B352-9D04CB7A4319::FO::WHITESAILS::MARINE
                      inceptionDate: 1370044800
                      insuredName: 'UI Example: Facility Sectioned - Signed'
                      isFacility: true
                      lastModifiedBy: MU0A7E5E65-AF27-4615-A447-E2AB41B1CF61
                      leadUnderwriterChannel: ''
                      limitSummary: ''
                      placementType: FullContract
                      placingBrokerChannel: gailbkr_ALL
                      rev: 1-4dd00b3d4321f7c947dcb53d778040e6
                      status: FirmOrder
                      type: RWPlacing
                      umr: B0999GM2912211209
                      updatedAt: '2021-12-29 12:12:23'
                    - channels:
                      - gailbkr_ALL
                      - whitesails_MARINE
                      empty: false
                      id: IC474C46AB-197A-4928-B352-9D04CB7A4319::FO::WHITESAILS::MARINE::LGUS
                      sections:
                      - index: 2
                        leadUnderwriterChannel: sscarrier_ALL
                        multiSectionId: '2'
                        multiSectionName: '2: Facility Section: Liability'
                      type: RWLineGuidanceSet
                    - carriers:
                        whitesails_MARINE:
                        - '30'
                      id: IC474C46AB-197A-4928-B352-9D04CB7A4319::FO::WHITESAILS::MARINE::SILS
                      signed:
                      - '30'
                      type: RWSignedLineSet
                      updatedAt: '2021-12-29 12:24:21'
                    - carriers:
                        whitesails_MARINE:
                        - '30'
                      id: IC474C46AB-197A-4928-B352-9D04CB7A4319::FO::WHITESAILS::MARINE::WRLS
                      needsApproving: false
                      type: RWWrittenLineSet
                      updatedAt: '2021-12-29 12:22:30'
                      written:
                      - '30'
                    - id: IC474C46AB-197A-4928-B352-9D04CB7A4319::OWN::WHITESAILS::MARINE
                      ownerChannel: whitesails_MARINE
                      ownerUserID: MUD84FE66A-077F-457C-B962-ABE7375907E8
                      type: RWRiskOwner
                      updatedAt: '2021-12-29 12:12:23'
                    - channels:
                      - gailbkr_ALL
                      - whitesails_MARINE
                      createdAt: '2021-12-29 12:24:21'
                      createdInVersion: 20100
                      id: IC474C46AB-197A-4928-B352-9D04CB7A4319::SIGNED::WHITESAILS::MARINE
                      inceptionDate: 1370044800
                      insuredName: 'UI Example: Facility Sectioned - Signed'
                      isFacility: true
                      lastModifiedBy: MU0A7E5E65-AF27-4615-A447-E2AB41B1CF61
                      leadUnderwriterChannel: ''
                      limitSummary: ''
                      placementType: FullContract
                      placingBrokerChannel: gailbkr_ALL
                      rev: 1-c3b39ef9b2c613387a7c5e2e137aa131
                      status: Signed
                      type: RWPlacing
                      umr: B0999GM2912211209
                      updatedAt: '2021-12-29 12:24:21'
                    filters:
                    - owner:MUD84FE66A-077F-457C-B962-ABE7375907E8
                    - rcpt:MUD84FE66A-077F-457C-B962-ABE7375907E8:IC474C46AB-197A-4928-B352-9D04CB7A4319::CHAT::690E57A6-12DE-4B84-862E-19E126BCF931_rcpt_[[USER]]_rev_1-96be7fb47fd41ce7a8bd1c4fe848303a
                    - name:signed
                    - ptype:FullContract
                    - 'name:example: facility sectioned - signed'
                    - name:- signed
                    - ctype:Facilities
                    - name:sectioned - signed
                    - umr:b0999gm2912211209
                    - 'name:ui example: facility sectioned - signed'
                    - name:facility sectioned - signed
                    - status:Signed
                    rootID: IC474C46AB-197A-4928-B352-9D04CB7A4319
                    updatedAt: '2021-12-29 15:47:25'
                  - _id: RWRiskSummary::ICC0C436F4-6B0A-4A3E-A277-1B376FE91B01::whitesails_MARINE
                    _rev: 1-6bd7eb78107b9ea59698ddb421cd881a
                    actions:
                    - uwFirmOrder:1638955105.0
                    docs:
                    - channels:
                      - gailbkr_ALL
                      - whitesails_MARINE
                      createdAt: '2021-12-08 09:18:25'
                      createdInVersion: 20100
                      id: ICC0C436F4-6B0A-4A3E-A277-1B376FE91B01::FO::WHITESAILS::MARINE
                      inceptionDate: 1370044800
                      insuredName: GM01122101
                      isFacility: true
                      lastModifiedBy: MU0A7E5E65-AF27-4615-A447-E2AB41B1CF61
                      leadUnderwriterChannel: ''
                      limitSummary: ''
                      placementType: FullContract
                      placingBrokerChannel: gailbkr_ALL
                      rev: 1-87e6890b871ee6c8c6055bf78af4fe66
                      status: FirmOrder
                      type: RWPlacing
                      umr: B0999ABC123456789
                      updatedAt: '2021-12-08 09:18:25'
                    - channels:
                      - gailbkr_ALL
                      - whitesails_MARINE
                      empty: false
                      id: ICC0C436F4-6B0A-4A3E-A277-1B376FE91B01::FO::WHITESAILS::MARINE::LGUS
                      sections:
                      - index: 2
                        leadUnderwriterChannel: sscarrier_ALL
                        multiSectionId: '2'
                        multiSectionName: Liability Section
                      type: RWLineGuidanceSet
                    - id: ICC0C436F4-6B0A-4A3E-A277-1B376FE91B01::OWN::WHITESAILS::MARINE
                      ownerChannel: whitesails_MARINE
                      ownerUserID: MUD84FE66A-077F-457C-B962-ABE7375907E8
                      type: RWRiskOwner
                      updatedAt: '2021-12-08 09:18:25'
                    filters:
                    - status:FirmOrderPending
                    - owner:MUD84FE66A-077F-457C-B962-ABE7375907E8
                    - umr:b0999abc123456789
                    - ctype:Facilities
                    - action:uwFirmOrder
                    - status:FirmOrder
                    - ptype:FullContract
                    - name:gm01122101
                    rootID: ICC0C436F4-6B0A-4A3E-A277-1B376FE91B01
                    updatedAt: '2021-12-08 09:18:25'
                  - _id: RWRiskSummary::ICBF03FE4B-197C-47D7-A0A5-10CE62286A55::whitesails_PROPERTY
                    _rev: 1-59f965e77cdd4618b3829298da9ed692
                    actions: []
                    docs:
                    - channels:
                      - blackhole_MANUALGARY
                      - whitesails_PROPERTY
                      createdAt: '2021-11-30 10:09:01'
                      createdInVersion: 20100
                      id: ICBF03FE4B-197C-47D7-A0A5-10CE62286A55::M2
                      inceptionDate: 1596240000
                      insuredName: Test 10.08
                      isFacility: false
                      lastModifiedBy: MU7080BDB1-C6C7-48AF-BF85-128F694B9992
                      leadUnderwriterChannel: whitesails_PROPERTY
                      limitSummary: USD 20,000,000
                      placementType: FullContract
                      placingBrokerChannel: blackhole_MANUALGARY
                      rev: 1-0d8f094b444f289c03d173ae126a21fa
                      status: Marketed Only
                      type: RWPlacing
                      umr: B00123JHP1141933
                      updatedAt: '2021-11-30 10:09:01'
                    filters:
                    - ctype:Open Market
                    - ptype:FullContract
                    - name:10.08
                    - status:MarketedOnly
                    - name:test 10.08
                    - umr:b00123jhp1141933
                    rootID: ICBF03FE4B-197C-47D7-A0A5-10CE62286A55
                    updatedAt: '2021-11-30 10:09:01'
                  - _id: RWRiskSummary::IC84ACEBA8-3CC3-449A-BE37-8B11CF1AC9AF::whitesails_PROPERTY
                    _rev: 3-716d73fd238016d5cf1e8aee09afe41a
                    actions:
                    - uwFirmOrder:1631262090.0
                    docs:
                    - count: 1
                      digests:
                        sha1-3LB8jd/dXhFDGvaHBkvH2Yd787A=: MUB6A6C9F9-61C1-49EA-8C44-28EEAB3226F5
                      id: IC84ACEBA8-3CC3-449A-BE37-8B11CF1AC9AF::ATCH
                      type: RWAttachmentCollection
                      updatedAt: '2021-09-10 08:37:33'
                    - channels:
                      - blackrobot_AUTOAPIJENKINS
                      - whitesails_PROPERTY
                      createdAt: '2021-09-10 08:21:30'
                      id: IC84ACEBA8-3CC3-449A-BE37-8B11CF1AC9AF::FO::WHITESAILS::PROPERTY
                      insuredName: UMRValidation Firm Order 01:20:56
                      isFacility: false
                      lastModifiedBy: MUB6A6C9F9-61C1-49EA-8C44-28EEAB3226F5
                      leadUnderwriterChannel: ''
                      limitSummary: ''
                      placementType: FullContract
                      placingBrokerChannel: blackrobot_AUTOAPIJENKINS
                      rev: 1-46d4440837c36bf7f863d17ffe3f3dd0
                      status: FirmOrder
                      type: RWPlacing
                      umr: B0999MT1607101221
                      updatedAt: '2021-09-10 08:21:30'
                    - channels:
                      - blackrobot_AUTOAPIJENKINS
                      - whitesails_PROPERTY
                      empty: false
                      id: IC84ACEBA8-3CC3-449A-BE37-8B11CF1AC9AF::FO::WHITESAILS::PROPERTY::LGUS
                      sections: []
                      type: RWLineGuidanceSet
                    filters:
                    - ctype:Open Market
                    - rcpt:MUB6A6C9F9-61C1-49EA-8C44-28EEAB3226F5:IC84ACEBA8-3CC3-449A-BE37-8B11CF1AC9AF::ATCH_rcpt_[[USER]]_att_sha1-3LB8jd_dXhFDGvaHBkvH2Yd787A
                    - name:firm order 01:20:56
                    - umr:b0999mt1607101221
                    - action:uwFirmOrder
                    - name:01:20:56
                    - name:umrvalidation firm order 01:20:56
                    - name:order 01:20:56
                    - status:FirmOrderPending
                    - ptype:FullContract
                    - status:FirmOrder
                    rootID: IC84ACEBA8-3CC3-449A-BE37-8B11CF1AC9AF
                    updatedAt: '2021-09-10 08:37:33'
                  - _id: RWRiskSummary::IC220B7F8A-2C83-4881-8014-0D6210DC6606::whitesails_MARINE
                    _rev: 5-a01b1dc4c9dbf8069a4631d7694819da
                    actions: []
                    docs:
                    - agreed: false
                      id: IC220B7F8A-2C83-4881-8014-0D6210DC6606::FO::EN1::ENF::mcneillieuwr_ALL
                      role: unchosen
                      type: RWEndorsementFollower
                      uwrChannel: mcneillieuwr_ALL
                    - agreed: false
                      id: IC220B7F8A-2C83-4881-8014-0D6210DC6606::FO::EN1::ENF::sscarrier_ALL
                      role: unchosen
                      type: RWEndorsementFollower
                      uwrChannel: sscarrier_ALL
                    - agreed: false
                      id: IC220B7F8A-2C83-4881-8014-0D6210DC6606::FO::EN1::ENF::whitecliffs_PROPERTY
                      role: notifyParty
                      type: RWEndorsementFollower
                      uwrChannel: whitecliffs_PROPERTY
                    - agreed: false
                      id: IC220B7F8A-2C83-4881-8014-0D6210DC6606::FO::EN1::ENF::whitesails_MARINE
                      role: nonNotifyParty
                      type: RWEndorsementFollower
                      uwrChannel: whitesails_MARINE
                    - agreed: false
                      id: IC220B7F8A-2C83-4881-8014-0D6210DC6606::FO::EN2::ENF::mcneillieuwr_ALL
                      role: unchosen
                      type: RWEndorsementFollower
                      uwrChannel: mcneillieuwr_ALL
                    - agreed: false
                      id: IC220B7F8A-2C83-4881-8014-0D6210DC6606::FO::EN2::ENF::sscarrier_ALL
                      role: unchosen
                      type: RWEndorsementFollower
                      uwrChannel: sscarrier_ALL
                    - agreed: false
                      id: IC220B7F8A-2C83-4881-8014-0D6210DC6606::FO::EN2::ENF::whitecliffs_PROPERTY
                      role: unchosen
                      type: RWEndorsementFollower
                      uwrChannel: whitecliffs_PROPERTY
                    - agreed: false
                      id: IC220B7F8A-2C83-4881-8014-0D6210DC6606::FO::EN2::ENF::whitesails_MARINE
                      role: unchosen
                      type: RWEndorsementFollower
                      uwrChannel: whitesails_MARINE
                    - carriers:
                        mcneillieuwr_ALL:
                        - '31.19856'
                      id: IC220B7F8A-2C83-4881-8014-0D6210DC6606::FO::MCNEILLIEUWR::ALL::WRLS-whitesails_MARINE
                      needsApproving: false
                      type: RWWrittenLineSet
                      updatedAt: '2021-09-07 15:31:38'
                      written:
                      - '31.19856'
                    - carriers:
                        sscarrier_ALL:
                        - '20.09872'
                      id: IC220B7F8A-2C83-4881-8014-0D6210DC6606::FO::SSCARRIER::ALL::WRLS-whitesails_MARINE
                      needsApproving: false
                      type: RWWrittenLineSet
                      updatedAt: '2021-09-07 15:31:38'
                      written:
                      - '20.09872'
                    - carriers:
                        whitecliffs_PROPERTY:
                        - '15.85896'
                      id: IC220B7F8A-2C83-4881-8014-0D6210DC6606::FO::WHITECLIFFS::PROPERTY::WRLS-whitesails_MARINE
                      needsApproving: false
                      type: RWWrittenLineSet
                      updatedAt: '2021-09-07 15:31:38'
                      written:
                      - '15.85896'
                    - associatedFacilityIDs:
                      - IC0B1C7B97-6FE9-4DEB-8A2D-D85BBD08746B
                      channels:
                      - gailbkr_ALL
                      - whitesails_MARINE
                      createdAt: '2021-09-07 15:31:38'
                      id: IC220B7F8A-2C83-4881-8014-0D6210DC6606::FO::WHITESAILS::MARINE
                      inceptionDate: 1564617600
                      insuredName: Terrorism Declaration
                      isFacility: false
                      lastModifiedBy: MU0A7E5E65-AF27-4615-A447-E2AB41B1CF61
                      leadUnderwriterChannel: ''
                      limitSummary: USD 20,000,000
                      placementType: FullContract
                      placingBrokerChannel: gailbkr_ALL
                      rev: 1-4ef1174c696d71d5b98cd473641de7e6
                      status: FirmOrder
                      type: RWPlacing
                      umr: B0999GHM0123456
                      updatedAt: '2021-09-07 15:31:38'
                    - carriers:
                        whitesails_MARINE:
                        - '12.84376'
                      id: IC220B7F8A-2C83-4881-8014-0D6210DC6606::FO::WHITESAILS::MARINE::WRLS
                      needsApproving: false
                      type: RWWrittenLineSet
                      updatedAt: '2021-09-07 15:31:38'
                      written:
                      - '12.84376'
                    filters:
                    - ctype:Declarations
                    - facility:IC0B1C7B97-6FE9-4DEB-8A2D-D85BBD08746B
                    - name:declaration
                    - name:terrorism declaration
                    - ptype:FullContract
                    - status:FirmOrder
                    - umr:b0999ghm0123456
                    rootID: IC220B7F8A-2C83-4881-8014-0D6210DC6606
                    updatedAt: '2021-09-07 15:31:38'
                  - _id: RWRiskSummary::ICBA882A88-85D6-431A-A221-96814284EA5B::whitesails_MARINE
                    _rev: 2-32696304d67740bf12439b883b240f12
                    actions: []
                    docs:
                    - carriers:
                        mcneillieuwr_ALL:
                        - '17.9025917'
                      id: ICBA882A88-85D6-431A-A221-96814284EA5B::FO::MCNEILLIEUWR::ALL::WRLS-whitesails_MARINE
                      needsApproving: false
                      type: RWWrittenLineSet
                      updatedAt: '2021-08-16 09:09:45'
                      written:
                      - '17.9025917'
                    - carriers:
                        sscarrier_ALL:
                        - '11.5331983'
                      id: ICBA882A88-85D6-431A-A221-96814284EA5B::FO::SSCARRIER::ALL::WRLS-whitesails_MARINE
                      needsApproving: false
                      type: RWWrittenLineSet
                      updatedAt: '2021-08-16 09:09:45'
                      written:
                      - '11.5331983'
                    - carriers:
                        whitecliffs_PROPERTY:
                        - '9.1003073694'
                      id: ICBA882A88-85D6-431A-A221-96814284EA5B::FO::WHITECLIFFS::PROPERTY::WRLS-whitesails_MARINE
                      needsApproving: false
                      type: RWWrittenLineSet
                      updatedAt: '2021-08-16 09:09:45'
                      written:
                      - '9.1003073694'
                    - associatedFacilityIDs:
                      - IC0B1C7B97-6FE9-4DEB-8A2D-D85BBD08746B
                      channels:
                      - gailbkr_ALL
                      - whitesails_MARINE
                      createdAt: '2021-08-16 09:09:45'
                      id: ICBA882A88-85D6-431A-A221-96814284EA5B::FO::WHITESAILS::MARINE
                      inceptionDate: 1564617600
                      insuredName: Dec 10/08/21 - 2
                      isFacility: false
                      lastModifiedBy: MU0A7E5E65-AF27-4615-A447-E2AB41B1CF61
                      leadUnderwriterChannel: ''
                      limitSummary: USD 20,000,000
                      placementType: FullContract
                      placingBrokerChannel: gailbkr_ALL
                      rev: 1-a909de00230e1f48f580441280fbcac4
                      status: FirmOrder
                      type: RWPlacing
                      umr: B1234GM
                      updatedAt: '2021-08-16 09:09:45'
                    - carriers:
                        whitesails_MARINE:
                        - '7.3701026914'
                      id: ICBA882A88-85D6-431A-A221-96814284EA5B::FO::WHITESAILS::MARINE::WRLS
                      needsApproving: false
                      type: RWWrittenLineSet
                      updatedAt: '2021-08-16 09:09:45'
                      written:
                      - '7.3701026914'
                    filters:
                    - ptype:FullContract
                    - facility:IC0B1C7B97-6FE9-4DEB-8A2D-D85BBD08746B
                    - name:- 2
                    - ctype:Declarations
                    - name:2
                    - name:10/08/21 - 2
                    - status:FirmOrder
                    - name:dec 10/08/21 - 2
                    - umr:b1234gm
                    rootID: ICBA882A88-85D6-431A-A221-96814284EA5B
                    updatedAt: '2021-08-16 09:09:45'
                  - _id: RWRiskSummary::IC0B1C7B97-6FE9-4DEB-8A2D-D85BBD08746B::whitesails_MARINE
                    _rev: 8-7b968df593052559d4611841c0f42285
                    actions: []
                    docs:
                    - carriers:
                        mcneillieuwr_ALL:
                        - '38.9982'
                      id: IC0B1C7B97-6FE9-4DEB-8A2D-D85BBD08746B::FO::MCNEILLIEUWR::ALL::SILS
                      signed:
                      - '38.9982'
                      type: RWSignedLineSet
                      updatedAt: '2021-08-16 09:00:11'
                    - carriers:
                        mcneillieuwr_ALL:
                        - '40.25'
                      id: IC0B1C7B97-6FE9-4DEB-8A2D-D85BBD08746B::FO::MCNEILLIEUWR::ALL::WRLS-whitesails_MARINE
                      needsApproving: false
                      type: RWWrittenLineSet
                      updatedAt: '2021-08-16 08:53:54'
                      written:
                      - '40.25'
                    - carriers:
                        sscarrier_ALL:
                        - '25.1234'
                      id: IC0B1C7B97-6FE9-4DEB-8A2D-D85BBD08746B::FO::SSCARRIER::ALL::SILS
                      signed:
                      - '25.1234'
                      type: RWSignedLineSet
                      updatedAt: '2021-08-16 09:00:11'
                    - carriers:
                        sscarrier_ALL:
                        - '25.1234'
                      id: IC0B1C7B97-6FE9-4DEB-8A2D-D85BBD08746B::FO::SSCARRIER::ALL::WRLS-whitesails_MARINE
                      needsApproving: false
                      type: RWWrittenLineSet
                      updatedAt: '2021-08-16 08:56:15'
                      written:
                      - '25.1234'
                    - carriers:
                        whitecliffs_PROPERTY:
                        - '19.8237'
                      id: IC0B1C7B97-6FE9-4DEB-8A2D-D85BBD08746B::FO::WHITECLIFFS::PROPERTY::SILS
                      signed:
                      - '19.8237'
                      type: RWSignedLineSet
                      updatedAt: '2021-08-16 09:00:11'
                    - carriers:
                        whitecliffs_PROPERTY:
                        - '20.46'
                      id: IC0B1C7B97-6FE9-4DEB-8A2D-D85BBD08746B::FO::WHITECLIFFS::PROPERTY::WRLS-whitesails_MARINE
                      needsApproving: false
                      type: RWWrittenLineSet
                      updatedAt: '2021-08-16 08:57:42'
                      written:
                      - '20.46'
                    - channels:
                      - gailbkr_ALL
                      - whitesails_MARINE
                      createdAt: '2021-08-16 08:48:41'
                      id: IC0B1C7B97-6FE9-4DEB-8A2D-D85BBD08746B::FO::WHITESAILS::MARINE
                      inceptionDate: 1370044800
                      insuredName: Facility - testing decimals on Decs
                      isFacility: true
                      lastModifiedBy: MU0A7E5E65-AF27-4615-A447-E2AB41B1CF61
                      leadUnderwriterChannel: ''
                      limitSummary: ''
                      placementType: FullContract
                      placingBrokerChannel: gailbkr_ALL
                      rev: 1-00dfc1cd9ff588af86afc58cb93a968c
                      status: FirmOrder
                      type: RWPlacing
                      umr: B0999ABC123456789
                      updatedAt: '2021-08-16 08:48:41'
                    - channels:
                      - gailbkr_ALL
                      - whitesails_MARINE
                      empty: false
                      id: IC0B1C7B97-6FE9-4DEB-8A2D-D85BBD08746B::FO::WHITESAILS::MARINE::LGUS
                      sections: []
                      type: RWLineGuidanceSet
                    - carriers:
                        whitesails_MARINE:
                        - '16.0547'
                      id: IC0B1C7B97-6FE9-4DEB-8A2D-D85BBD08746B::FO::WHITESAILS::MARINE::SILS
                      signed:
                      - '16.0547'
                      type: RWSignedLineSet
                      updatedAt: '2021-08-16 09:00:11'
                    - carriers:
                        whitesails_MARINE:
                        - '16.57'
                      id: IC0B1C7B97-6FE9-4DEB-8A2D-D85BBD08746B::FO::WHITESAILS::MARINE::WRLS
                      needsApproving: false
                      type: RWWrittenLineSet
                      updatedAt: '2021-08-16 08:59:22'
                      written:
                      - '16.57'
                    - id: IC0B1C7B97-6FE9-4DEB-8A2D-D85BBD08746B::OWN::WHITESAILS::MARINE
                      ownerChannel: whitesails_MARINE
                      ownerUserID: MUD84FE66A-077F-457C-B962-ABE7375907E8
                      type: RWRiskOwner
                      updatedAt: '2021-08-16 08:58:45'
                    - channels:
                      - gailbkr_ALL
                      - whitesails_MARINE
                      createdAt: '2021-08-16 09:00:11'
                      id: IC0B1C7B97-6FE9-4DEB-8A2D-D85BBD08746B::SIGNED::WHITESAILS::MARINE
                      inceptionDate: 1370044800
                      insuredName: Facility - testing decimals on Decs
                      isFacility: true
                      lastModifiedBy: MU0A7E5E65-AF27-4615-A447-E2AB41B1CF61
                      leadUnderwriterChannel: ''
                      limitSummary: ''
                      placementType: FullContract
                      placingBrokerChannel: gailbkr_ALL
                      rev: 1-eca7b5af553faf1459e468df7f1282cd
                      status: Signed
                      type: RWPlacing
                      umr: B0999ABC123456789
                      updatedAt: '2021-08-16 09:00:11'
                    filters:
                    - umr:b0999abc123456789
                    - name:facility - testing decimals on decs
                    - ctype:Facilities
                    - name:testing decimals on decs
                    - name:decimals on decs
                    - name:decs
                    - name:- testing decimals on decs
                    - ptype:FullContract
                    - name:on decs
                    - owner:MUD84FE66A-077F-457C-B962-ABE7375907E8
                    - status:Signed
                    rootID: IC0B1C7B97-6FE9-4DEB-8A2D-D85BBD08746B
                    updatedAt: '2021-08-16 09:00:11'
                  - _id: RWRiskSummary::IC07417CB5-94EB-4485-B40D-AE3A9947ADA6::whitesails_MARINE
                    _rev: 10-16644e2ea068babf90eadb0fc8c4ed7a
                    actions: []
                    docs:
                    - carriers:
                        mcneillieuwr_ALL:
                        - '19'
                      id: IC07417CB5-94EB-4485-B40D-AE3A9947ADA6::FO::MCNEILLIEUWR::ALL::SILS
                      signed:
                      - '19'
                      type: RWSignedLineSet
                      updatedAt: '2021-08-10 13:28:55'
                    - carriers:
                        mcneillieuwr_ALL:
                        - '20'
                      id: IC07417CB5-94EB-4485-B40D-AE3A9947ADA6::FO::MCNEILLIEUWR::ALL::WRLS-whitesails_MARINE
                      needsApproving: false
                      type: RWWrittenLineSet
                      updatedAt: '2020-06-25 09:09:28'
                      written:
                      - '20'
                    - carriers:
                        whitecliffs_MARINE:
                        - '16'
                      id: IC07417CB5-94EB-4485-B40D-AE3A9947ADA6::FO::WHITECLIFFS::MARINE::SILS
                      signed:
                      - '16'
                      type: RWSignedLineSet
                      updatedAt: '2021-08-10 13:28:55'
                    - carriers:
                        whitecliffs_MARINE:
                        - '17.5'
                      id: IC07417CB5-94EB-4485-B40D-AE3A9947ADA6::FO::WHITECLIFFS::MARINE::WRLS-whitesails_MARINE
                      needsApproving: false
                      type: RWWrittenLineSet
                      updatedAt: '2020-06-25 10:58:33'
                      written:
                      - '17.5'
                    - associatedFacilityIDs:
                      - IC343D8FAE-4D19-4618-97E5-175A25E38E37
                      channels:
                      - gailbkr_ALL
                      - whitesails_MARINE
                      createdAt: '2020-06-25 11:58:31'
                      id: IC07417CB5-94EB-4485-B40D-AE3A9947ADA6::FO::WHITESAILS::MARINE
                      inceptionDate: 1564617600
                      insuredName: Avia Aviation Ltd.
                      isFacility: false
                      lastModifiedBy: MU0A7E5E65-AF27-4615-A447-E2AB41B1CF61
                      leadUnderwriterChannel: ''
                      limitSummary: USD 20,000,000
                      placementType: FullContract
                      placingBrokerChannel: gailbkr_ALL
                      rev: 5-c1d63c3344aa2786ad75586261dba514
                      status: FirmOrder
                      type: RWPlacing
                      umr: B1234Test5
                      updatedAt: '2020-06-25 11:58:31'
                    - channels:
                      - gailbkr_ALL
                      - whitesails_MARINE
                      empty: false
                      id: IC07417CB5-94EB-4485-B40D-AE3A9947ADA6::FO::WHITESAILS::MARINE::LGUS
                      sections: []
                      type: RWLineGuidanceSet
                    - carriers:
                        whitesails_MARINE:
                        - '62'
                      id: IC07417CB5-94EB-4485-B40D-AE3A9947ADA6::FO::WHITESAILS::MARINE::SILS
                      signed:
                      - '62'
                      type: RWSignedLineSet
                      updatedAt: '2021-08-10 13:28:55'
                    - carriers:
                        whitesails_MARINE:
                        - '62.5'
                      id: IC07417CB5-94EB-4485-B40D-AE3A9947ADA6::FO::WHITESAILS::MARINE::WRLS
                      needsApproving: false
                      type: RWWrittenLineSet
                      updatedAt: '2020-06-25 11:59:02'
                      written:
                      - '62.5'
                    - associatedFacilityIDs:
                      - IC343D8FAE-4D19-4618-97E5-175A25E38E37
                      channels:
                      - whitesails_MARINE
                      - gailbkr_ALL
                      createdAt: '2020-06-25 11:27:38'
                      id: IC07417CB5-94EB-4485-B40D-AE3A9947ADA6::FOD::WHITESAILS::MARINE
                      inceptionDate: 1564617600
                      insuredName: Avia Aviation Ltd.
                      isFacility: false
                      lastModifiedBy: MUD84FE66A-077F-457C-B962-ABE7375907E8
                      leadUnderwriterChannel: ''
                      limitSummary: USD 20,000,000
                      placementType: FullContract
                      placingBrokerChannel: gailbkr_ALL
                      rev: 1-8f68bc957e8b734ae3435569e4cd3b52
                      status: FirmOrderDeclined
                      type: RWPlacing
                      umr: B1234Test5
                      updatedAt: '2020-06-25 11:27:38'
                    - associatedFacilityIDs:
                      - IC343D8FAE-4D19-4618-97E5-175A25E38E37
                      channels:
                      - whitesails_MARINE
                      - gailbkr_ALL
                      createdAt: '2020-06-25 11:29:44'
                      id: IC07417CB5-94EB-4485-B40D-AE3A9947ADA6::FOD::WHITESAILS::MARINE1
                      inceptionDate: 1564617600
                      insuredName: Avia Aviation Ltd.
                      isFacility: false
                      lastModifiedBy: MUD84FE66A-077F-457C-B962-ABE7375907E8
                      leadUnderwriterChannel: ''
                      limitSummary: USD 20,000,000
                      placementType: FullContract
                      placingBrokerChannel: gailbkr_ALL
                      rev: 1-b64702ea88800059617abe0f4ccfb592
                      status: FirmOrderDeclined
                      type: RWPlacing
                      umr: B1234Test5
                      updatedAt: '2020-06-25 11:29:44'
                    - associatedFacilityIDs:
                      - IC343D8FAE-4D19-4618-97E5-175A25E38E37
                      channels:
                      - whitesails_MARINE
                      - gailbkr_ALL
                      createdAt: '2020-06-25 11:57:09'
                      id: IC07417CB5-94EB-4485-B40D-AE3A9947ADA6::MUD84FE66A-077F-457C-B962-ABE7375907E8::UQ1
                      inceptionDate: 1564617600
                      insuredName: Avia Aviation Ltd.
                      isFacility: false
                      lastModifiedBy: MUD84FE66A-077F-457C-B962-ABE7375907E8
                      leadUnderwriterChannel: whitesails_MARINE
                      limitSummary: USD 20,000,000
                      placementType: FullContract
                      placingBrokerChannel: gailbkr_ALL
                      rev: 1-ea3d8acd02a1fc1c45cd72b886d08b58
                      status: QuotedByUnderwriter
                      type: RWPlacing
                      umr: B1234Test5
                      updatedAt: '2020-06-25 11:57:09'
                    - id: IC07417CB5-94EB-4485-B40D-AE3A9947ADA6::OWN::WHITESAILS::MARINE
                      ownerChannel: whitesails_MARINE
                      ownerUserID: MUD84FE66A-077F-457C-B962-ABE7375907E8
                      type: RWRiskOwner
                      updatedAt: '2020-06-25 11:27:11'
                    - associatedFacilityIDs:
                      - IC343D8FAE-4D19-4618-97E5-175A25E38E37
                      channels:
                      - whitesails_MARINE
                      - gailbkr_ALL
                      createdAt: '2020-06-25 11:56:14'
                      id: IC07417CB5-94EB-4485-B40D-AE3A9947ADA6::QR2
                      inceptionDate: 1564617600
                      insuredName: Avia Aviation Ltd.
                      isFacility: false
                      lastModifiedBy: MU0A7E5E65-AF27-4615-A447-E2AB41B1CF61
                      leadUnderwriterChannel: whitesails_MARINE
                      limitSummary: USD 20,000,000
                      placementType: FullContract
                      placingBrokerChannel: gailbkr_ALL
                      rev: 1-6dda4c5cac65b8a0ea22cdadb79a2849
                      status: QuotationRequest
                      type: RWPlacing
                      umr: B1234Test5
                      updatedAt: '2020-06-25 11:56:14'
                    - associatedFacilityIDs:
                      - IC343D8FAE-4D19-4618-97E5-175A25E38E37
                      channels:
                      - gailbkr_ALL
                      - whitesails_MARINE
                      createdAt: '2020-06-25 12:58:48'
                      id: IC07417CB5-94EB-4485-B40D-AE3A9947ADA6::SIGNED::WHITESAILS::MARINE
                      inceptionDate: 1564617600
                      insuredName: Avia Aviation Ltd.
                      isFacility: false
                      lastModifiedBy: MU0A7E5E65-AF27-4615-A447-E2AB41B1CF61
                      leadUnderwriterChannel: ''
                      limitSummary: USD 20,000,000
                      placementType: FullContract
                      placingBrokerChannel: gailbkr_ALL
                      rev: 2-b701de72ff33391a06abb7751ae29b16
                      status: Signed
                      type: RWPlacing
                      umr: B1234Test5
                      updatedAt: '2021-08-10 13:28:55'
                    filters:
                    - name:aviation ltd.
                    - name:avia aviation ltd.
                    - facility:IC343D8FAE-4D19-4618-97E5-175A25E38E37
                    - name:ltd.
                    - umr:b1234test5
                    - owner:MUD84FE66A-077F-457C-B962-ABE7375907E8
                    - ptype:FullContract
                    - status:Signed
                    - ctype:Declarations
                    rootID: IC07417CB5-94EB-4485-B40D-AE3A9947ADA6
                    updatedAt: '2021-08-10 13:28:55'
                  - _id: RWRiskSummary::IC53547F0E-9631-40DE-AB1B-76314BE3BE15::whitesails_MARINE
                    _rev: 8-48288bcc15402ab2740ee76f5a8d7ae7
                    actions: []
                    docs:
                    - carriers:
                        mcneillieuwr_ALL:
                        - '50'
                      id: IC53547F0E-9631-40DE-AB1B-76314BE3BE15::FO::MCNEILLIEUWR::ALL::SILS
                      signed:
                      - '50'
                      type: RWSignedLineSet
                      updatedAt: '2021-08-10 11:26:10'
                    - carriers:
                        mcneillieuwr_ALL:
                        - '55'
                      id: IC53547F0E-9631-40DE-AB1B-76314BE3BE15::FO::MCNEILLIEUWR::ALL::WRLS-whitesails_MARINE
                      needsApproving: false
                      type: RWWrittenLineSet
                      updatedAt: '2021-08-10 09:26:10'
                      written:
                      - '55'
                    - carriers:
                        sscarrier_ALL:
                        - '20'
                      id: IC53547F0E-9631-40DE-AB1B-76314BE3BE15::FO::SSCARRIER::ALL::SILS
                      signed:
                      - '20'
                      type: RWSignedLineSet
                      updatedAt: '2021-08-10 11:26:10'
                    - carriers:
                        sscarrier_ALL:
                        - '25'
                      id: IC53547F0E-9631-40DE-AB1B-76314BE3BE15::FO::SSCARRIER::ALL::WRLS-whitesails_MARINE
                      needsApproving: false
                      type: RWWrittenLineSet
                      updatedAt: '2021-08-10 09:27:28'
                      written:
                      - '25'
                    - carriers:
                        whitecliffs_MARINE:
                        - '10'
                      id: IC53547F0E-9631-40DE-AB1B-76314BE3BE15::FO::WHITECLIFFS::MARINE::SILS
                      signed:
                      - '10'
                      type: RWSignedLineSet
                      updatedAt: '2021-08-10 11:26:10'
                    - carriers:
                        whitecliffs_MARINE:
                        - '15'
                      id: IC53547F0E-9631-40DE-AB1B-76314BE3BE15::FO::WHITECLIFFS::MARINE::WRLS-whitesails_MARINE
                      needsApproving: false
                      type: RWWrittenLineSet
                      updatedAt: '2021-08-10 09:29:54'
                      written:
                      - '15'
                    - channels:
                      - gailbkr_ALL
                      - whitesails_MARINE
                      createdAt: '2021-08-10 09:25:06'
                      id: IC53547F0E-9631-40DE-AB1B-76314BE3BE15::FO::WHITESAILS::MARINE
                      inceptionDate: 1370044800
                      insuredName: Facility 2 10/08/21
                      isFacility: true
                      lastModifiedBy: MU0A7E5E65-AF27-4615-A447-E2AB41B1CF61
                      leadUnderwriterChannel: ''
                      limitSummary: ''
                      placementType: FullContract
                      placingBrokerChannel: gailbkr_ALL
                      rev: 1-c59c5a21753b5271613c4cce74a9b7e6
                      status: FirmOrder
                      type: RWPlacing
                      umr: B1234GM
                      updatedAt: '2021-08-10 09:25:06'
                    - channels:
                      - gailbkr_ALL
                      - whitesails_MARINE
                      empty: false
                      id: IC53547F0E-9631-40DE-AB1B-76314BE3BE15::FO::WHITESAILS::MARINE::LGUS
                      sections: []
                      type: RWLineGuidanceSet
                    - carriers:
                        whitesails_MARINE:
                        - '3'
                      id: IC53547F0E-9631-40DE-AB1B-76314BE3BE15::FO::WHITESAILS::MARINE::SILS
                      signed:
                      - '3'
                      type: RWSignedLineSet
                      updatedAt: '2021-08-10 11:26:10'
                    - carriers:
                        whitesails_MARINE:
                        - '5'
                      id: IC53547F0E-9631-40DE-AB1B-76314BE3BE15::FO::WHITESAILS::MARINE::WRLS
                      needsApproving: false
                      type: RWWrittenLineSet
                      updatedAt: '2021-08-10 09:31:17'
                      written:
                      - '5'
                    - carriers:
                        whitesands_PROPERTY:
                        - '17'
                      id: IC53547F0E-9631-40DE-AB1B-76314BE3BE15::FO::WHITESANDS::PROPERTY::SILS
                      signed:
                      - '17'
                      type: RWSignedLineSet
                      updatedAt: '2021-08-10 11:26:10'
                    - carriers:
                        whitesands_PROPERTY:
                        - '35'
                      id: IC53547F0E-9631-40DE-AB1B-76314BE3BE15::FO::WHITESANDS::PROPERTY::WRLS-whitesails_MARINE
                      needsApproving: false
                      type: RWWrittenLineSet
                      updatedAt: '2021-08-10 11:24:54'
                      written:
                      - '35'
                    - id: IC53547F0E-9631-40DE-AB1B-76314BE3BE15::OWN::WHITESAILS::MARINE
                      ownerChannel: whitesails_MARINE
                      ownerUserID: MUD84FE66A-077F-457C-B962-ABE7375907E8
                      type: RWRiskOwner
                      updatedAt: '2021-08-10 09:30:34'
                    - channels:
                      - gailbkr_ALL
                      - whitesails_MARINE
                      createdAt: '2021-08-10 11:26:10'
                      id: IC53547F0E-9631-40DE-AB1B-76314BE3BE15::SIGNED::WHITESAILS::MARINE
                      inceptionDate: 1370044800
                      insuredName: Facility 2 10/08/21
                      isFacility: true
                      lastModifiedBy: MU0A7E5E65-AF27-4615-A447-E2AB41B1CF61
                      leadUnderwriterChannel: ''
                      limitSummary: ''
                      placementType: FullContract
                      placingBrokerChannel: gailbkr_ALL
                      rev: 1-9a433a91a4656439e5d3ddf9555c600b
                      status: Signed
                      type: RWPlacing
                      umr: B1234GM
                      updatedAt: '2021-08-10 11:26:10'
                    filters:
                    - ctype:Facilities
                    - name:10/08/21
                    - status:Signed
                    - ptype:FullContract
                    - name:facility 2 10/08/21
                    - name:2 10/08/21
                    - owner:MUD84FE66A-077F-457C-B962-ABE7375907E8
                    - umr:b1234gm
                    rootID: IC53547F0E-9631-40DE-AB1B-76314BE3BE15
                    updatedAt: '2021-08-10 11:26:10'
                  - _id: RWRiskSummary::IC24FAB1D1-D617-4E54-93C8-29909EEC43F7::whitesails_MARINE
                    _rev: 2-7461fdbfd79e4bed92c65e0510cc888c
                    actions: []
                    docs:
                    - carriers:
                        mcneillieuwr_ALL:
                        - '40'
                      id: IC24FAB1D1-D617-4E54-93C8-29909EEC43F7::FO::MCNEILLIEUWR::ALL::WRLS-whitesails_MARINE
                      needsApproving: false
                      type: RWWrittenLineSet
                      updatedAt: '2021-08-10 08:58:21'
                      written:
                      - '40'
                    - carriers:
                        sscarrier_ALL:
                        - '32'
                      id: IC24FAB1D1-D617-4E54-93C8-29909EEC43F7::FO::SSCARRIER::ALL::WRLS-whitesails_MARINE
                      needsApproving: false
                      type: RWWrittenLineSet
                      updatedAt: '2021-08-10 08:58:21'
                      written:
                      - '32'
                    - carriers:
                        whitecliffs_PROPERTY:
                        - '13.5'
                      id: IC24FAB1D1-D617-4E54-93C8-29909EEC43F7::FO::WHITECLIFFS::PROPERTY::WRLS-whitesails_MARINE
                      needsApproving: false
                      type: RWWrittenLineSet
                      updatedAt: '2021-08-10 08:58:21'
                      written:
                      - '13.5'
                    - associatedFacilityIDs:
                      - ICEACFF8DD-EA86-4C0B-8827-B3234FD723CE
                      channels:
                      - gailbkr_ALL
                      - whitesails_MARINE
                      createdAt: '2021-08-10 08:58:21'
                      id: IC24FAB1D1-D617-4E54-93C8-29909EEC43F7::FO::WHITESAILS::MARINE
                      inceptionDate: 1564617600
                      insuredName: Dec 10/08/21 - Re-Signing 01
                      isFacility: false
                      lastModifiedBy: MU0A7E5E65-AF27-4615-A447-E2AB41B1CF61
                      leadUnderwriterChannel: ''
                      limitSummary: USD 20,000,000
                      placementType: FullContract
                      placingBrokerChannel: gailbkr_ALL
                      rev: 1-83d560c9c0f1024f8b441be561a31b70
                      status: FirmOrder
                      type: RWPlacing
                      umr: B0999GM2207201430
                      updatedAt: '2021-08-10 08:58:21'
                    - carriers:
                        whitesails_MARINE:
                        - '9.5'
                      id: IC24FAB1D1-D617-4E54-93C8-29909EEC43F7::FO::WHITESAILS::MARINE::WRLS
                      needsApproving: false
                      type: RWWrittenLineSet
                      updatedAt: '2021-08-10 08:58:21'
                      written:
                      - '9.5'
                    filters:
                    - name:01
                    - name:re-signing 01
                    - facility:ICEACFF8DD-EA86-4C0B-8827-B3234FD723CE
                    - ptype:FullContract
                    - name:10/08/21 - re-signing 01
                    - name:dec 10/08/21 - re-signing 01
                    - status:FirmOrder
                    - umr:b0999gm2207201430
                    - ctype:Declarations
                    - name:- re-signing 01
                    rootID: IC24FAB1D1-D617-4E54-93C8-29909EEC43F7
                    updatedAt: '2021-08-10 08:58:21'
                  - _id: RWRiskSummary::ICEACFF8DD-EA86-4C0B-8827-B3234FD723CE::whitesails_MARINE
                    _rev: 12-1b8b8adcadbfe9caf9e42e0833a15b41
                    actions: []
                    docs:
                    - carriers:
                        mcneillieuwr_ALL:
                        - '42'
                      id: ICEACFF8DD-EA86-4C0B-8827-B3234FD723CE::FO::MCNEILLIEUWR::ALL::SILS
                      signed:
                      - '42'
                      type: RWSignedLineSet
                      updatedAt: '2021-08-10 08:30:04'
                    - carriers:
                        mcneillieuwr_ALL:
                        - '45'
                      id: ICEACFF8DD-EA86-4C0B-8827-B3234FD723CE::FO::MCNEILLIEUWR::ALL::WRLS-whitesails_MARINE
                      needsApproving: false
                      type: RWWrittenLineSet
                      updatedAt: '2021-08-10 07:45:38'
                      written:
                      - '45'
                    - carriers:
                        sscarrier_ALL:
                        - '31.6'
                      id: ICEACFF8DD-EA86-4C0B-8827-B3234FD723CE::FO::SSCARRIER::ALL::SILS
                      signed:
                      - '31.6'
                      type: RWSignedLineSet
                      updatedAt: '2021-08-10 08:30:04'
                    - carriers:
                        sscarrier_ALL:
                        - '32'
                      id: ICEACFF8DD-EA86-4C0B-8827-B3234FD723CE::FO::SSCARRIER::ALL::WRLS-whitesails_MARINE
                      needsApproving: false
                      type: RWWrittenLineSet
                      updatedAt: '2021-08-10 07:47:32'
                      written:
                      - '32'
                    - carriers:
                        whitecliffs_PROPERTY:
                        - '14.7'
                      id: ICEACFF8DD-EA86-4C0B-8827-B3234FD723CE::FO::WHITECLIFFS::PROPERTY::SILS
                      signed:
                      - '14.7'
                      type: RWSignedLineSet
                      updatedAt: '2021-08-10 08:30:04'
                    - carriers:
                        whitecliffs_PROPERTY:
                        - '27'
                      id: ICEACFF8DD-EA86-4C0B-8827-B3234FD723CE::FO::WHITECLIFFS::PROPERTY::WRLS-whitesails_MARINE
                      needsApproving: false
                      type: RWWrittenLineSet
                      updatedAt: '2021-08-10 07:48:52'
                      written:
                      - '27'
                    - channels:
                      - gailbkr_ALL
                      - whitesails_MARINE
                      createdAt: '2021-08-10 07:44:59'
                      id: ICEACFF8DD-EA86-4C0B-8827-B3234FD723CE::FO::WHITESAILS::MARINE
                      inceptionDate: 1370044800
                      insuredName: 'Facility 10/08/21 - Re-Signing '
                      isFacility: true
                      lastModifiedBy: MU0A7E5E65-AF27-4615-A447-E2AB41B1CF61
                      leadUnderwriterChannel: ''
                      limitSummary: ''
                      placementType: FullContract
                      placingBrokerChannel: gailbkr_ALL
                      rev: 1-4569d6fa0d1768be98b1c2ed2eac9f38
                      status: FirmOrder
                      type: RWPlacing
                      umr: B0999ABC123456789
                      updatedAt: '2021-08-10 07:44:59'
                    - channels:
                      - gailbkr_ALL
                      - whitesails_MARINE
                      empty: false
                      id: ICEACFF8DD-EA86-4C0B-8827-B3234FD723CE::FO::WHITESAILS::MARINE::LGUS
                      sections: []
                      type: RWLineGuidanceSet
                    - carriers:
                        whitesails_MARINE:
                        - '11.7'
                      id: ICEACFF8DD-EA86-4C0B-8827-B3234FD723CE::FO::WHITESAILS::MARINE::SILS
                      signed:
                      - '11.7'
                      type: RWSignedLineSet
                      updatedAt: '2021-08-10 08:30:04'
                    - carriers:
                        whitesails_MARINE:
                        - '19'
                      id: ICEACFF8DD-EA86-4C0B-8827-B3234FD723CE::FO::WHITESAILS::MARINE::WRLS
                      needsApproving: false
                      type: RWWrittenLineSet
                      updatedAt: '2021-08-10 07:52:20'
                      written:
                      - '19'
                    - id: ICEACFF8DD-EA86-4C0B-8827-B3234FD723CE::OWN::WHITESAILS::MARINE
                      ownerChannel: whitesails_MARINE
                      ownerUserID: MUD84FE66A-077F-457C-B962-ABE7375907E8
                      type: RWRiskOwner
                      updatedAt: '2021-08-10 07:51:51'
                    - channels:
                      - gailbkr_ALL
                      - whitesails_MARINE
                      createdAt: '2021-08-10 07:53:17'
                      id: ICEACFF8DD-EA86-4C0B-8827-B3234FD723CE::SIGNED::WHITESAILS::MARINE
                      inceptionDate: 1370044800
                      insuredName: 'Facility 10/08/21 - Re-Signing '
                      isFacility: true
                      lastModifiedBy: MU0A7E5E65-AF27-4615-A447-E2AB41B1CF61
                      leadUnderwriterChannel: ''
                      limitSummary: ''
                      placementType: FullContract
                      placingBrokerChannel: gailbkr_ALL
                      rev: 5-0785e1f9de82727d4ca5170f263be5a8
                      status: Signed
                      type: RWPlacing
                      umr: B0999ABC123456789
                      updatedAt: '2021-08-10 08:30:04'
                    filters:
                    - name:facility 10/08/21 - re-signing
                    - name:- re-signing
                    - owner:MUD84FE66A-077F-457C-B962-ABE7375907E8
                    - umr:b0999abc123456789
                    - status:Signed
                    - name:10/08/21 - re-signing
                    - ptype:FullContract
                    - name:re-signing
                    - ctype:Facilities
                    rootID: ICEACFF8DD-EA86-4C0B-8827-B3234FD723CE
                    updatedAt: '2021-08-10 08:30:04'
                  - _id: RWRiskSummary::ICF6F04407-E35D-4700-9E40-A3FCCFD16DF1::whitesails_MARINE
                    _rev: 9-04e09056289b3009ba978820b83dc869
                    actions: []
                    docs:
                    - carriers:
                        bulkwr1_AVIATION:
                        - '15'
                      id: ICF6F04407-E35D-4700-9E40-A3FCCFD16DF1::FO::BULKWR1::AVIATION::SILS
                      signed:
                      - '15'
                      type: RWSignedLineSet
                      updatedAt: '2021-08-05 13:03:27'
                    - carriers:
                        bulkwr1_AVIATION:
                        - '20'
                      id: ICF6F04407-E35D-4700-9E40-A3FCCFD16DF1::FO::BULKWR1::AVIATION::WRLS-whitesails_MARINE
                      needsApproving: false
                      type: RWWrittenLineSet
                      updatedAt: '2020-12-03 18:18:37'
                      written:
                      - '20'
                    - carriers:
                        huttonpenman_AVIATION:
                        - '50'
                      id: ICF6F04407-E35D-4700-9E40-A3FCCFD16DF1::FO::HUTTONPENMAN::AVIATION::SILS
                      signed:
                      - '50'
                      type: RWSignedLineSet
                      updatedAt: '2021-08-05 13:03:27'
                    - carriers:
                        huttonpenman_AVIATION:
                        - '50'
                      id: ICF6F04407-E35D-4700-9E40-A3FCCFD16DF1::FO::HUTTONPENMAN::AVIATION::WRLS-whitesails_MARINE
                      needsApproving: false
                      type: RWWrittenLineSet
                      updatedAt: '2020-12-03 18:18:37'
                      written:
                      - '50'
                    - channels:
                      - james_AVIATION
                      - whitesails_MARINE
                      createdAt: '2020-12-03 18:18:37'
                      id: ICF6F04407-E35D-4700-9E40-A3FCCFD16DF1::FO::WHITESAILS::MARINE
                      inceptionDate: 1590969600
                      insuredName: Notification Test 2
                      isFacility: false
                      lastModifiedBy: MU8E37F362-8C79-41E0-A35F-2ADEB31112B5
                      leadUnderwriterChannel: huttonpenman_AVIATION
                      limitSummary: USD 20,000,000
                      placementType: FullContract
                      placingBrokerChannel: james_AVIATION
                      rev: 1-cf996a2a0279ec10fea4b72e55ca4f06
                      status: FirmOrder
                      type: RWPlacing
                      umr: B00123JHP17110312
                      updatedAt: '2020-12-03 18:18:37'
                    - channels:
                      - james_AVIATION
                      - whitesails_MARINE
                      empty: false
                      id: ICF6F04407-E35D-4700-9E40-A3FCCFD16DF1::FO::WHITESAILS::MARINE::LGUS
                      sections: []
                      type: RWLineGuidanceSet
                    - carriers:
                        whitesails_MARINE:
                        - '15'
                      id: ICF6F04407-E35D-4700-9E40-A3FCCFD16DF1::FO::WHITESAILS::MARINE::SILS
                      signed:
                      - '15'
                      type: RWSignedLineSet
                      updatedAt: '2021-08-05 13:03:27'
                    - carriers:
                        whitesails_MARINE:
                        - '20'
                      id: ICF6F04407-E35D-4700-9E40-A3FCCFD16DF1::FO::WHITESAILS::MARINE::WRLS
                      needsApproving: false
                      type: RWWrittenLineSet
                      updatedAt: '2020-12-03 18:19:43'
                      written:
                      - '20'
                    - id: ICF6F04407-E35D-4700-9E40-A3FCCFD16DF1::OWN::WHITESAILS::MARINE
                      ownerChannel: whitesails_MARINE
                      ownerUserID: MUD84FE66A-077F-457C-B962-ABE7375907E8
                      type: RWRiskOwner
                      updatedAt: '2020-12-03 18:19:22'
                    - channels:
                      - james_AVIATION
                      - whitesails_MARINE
                      createdAt: '2021-08-05 13:03:27'
                      id: ICF6F04407-E35D-4700-9E40-A3FCCFD16DF1::SIGNED::WHITESAILS::MARINE
                      inceptionDate: 1590969600
                      insuredName: Notification Test 2
                      isFacility: false
                      lastModifiedBy: MU8E37F362-8C79-41E0-A35F-2ADEB31112B5
                      leadUnderwriterChannel: huttonpenman_AVIATION
                      limitSummary: USD 20,000,000
                      placementType: FullContract
                      placingBrokerChannel: james_AVIATION
                      rev: 1-265c8d9e2b9529ddd430b9cbb055847d
                      status: Signed
                      type: RWPlacing
                      umr: B00123JHP17110312
                      updatedAt: '2021-08-05 13:03:27'
                    filters:
                    - ctype:Open Market
                    - status:Signed
                    - ptype:FullContract
                    - name:2
                    - name:notification test 2
                    - owner:MUD84FE66A-077F-457C-B962-ABE7375907E8
                    - umr:b00123jhp17110312
                    - name:test 2
                    rootID: ICF6F04407-E35D-4700-9E40-A3FCCFD16DF1
                    updatedAt: '2021-08-05 13:03:27'
                  - _id: RWRiskSummary::ICF349A025-B518-4937-9194-86AE86EA200E::whitesails_MARINE
                    _rev: 11-f6d4dc2aa2b3e79deabc95e34d8cac3e
                    actions: []
                    docs:
                    - carriers:
                        bulkwr3_ALL:
                        - '0'
                      id: ICF349A025-B518-4937-9194-86AE86EA200E::FO::BULKWR3::ALL::WRLS-whitesails_MARINE
                      needsApproving: false
                      type: RWWrittenLineSet
                      updatedAt: '2021-07-29 15:20:54'
                      written:
                      - '0'
                    - carriers:
                        huttonpenman_AVIATION:
                        - '32'
                      id: ICF349A025-B518-4937-9194-86AE86EA200E::FO::HUTTONPENMAN::AVIATION::WRLS-whitesails_MARINE
                      needsApproving: false
                      type: RWWrittenLineSet
                      updatedAt: '2021-08-04 13:31:52'
                      written:
                      - '32'
                    - carriers:
                        offlineallianzglobal_ALL:
                        - '8'
                      id: ICF349A025-B518-4937-9194-86AE86EA200E::FO::OFFLINEALLIANZGLOBAL::ALL::WRLS-whitesails_MARINE
                      needsApproving: false
                      type: RWWrittenLineSet
                      updatedAt: '2021-07-29 15:20:54'
                      written:
                      - '8'
                    - carriers:
                        offlinebeazley_ALL:
                        - '0'
                      id: ICF349A025-B518-4937-9194-86AE86EA200E::FO::OFFLINEBEAZLEY::ALL::WRLS-whitesails_MARINE
                      needsApproving: false
                      type: RWWrittenLineSet
                      updatedAt: '2021-07-29 15:20:54'
                      written:
                      - '0'
                    - associatedFacilityIDs:
                      - ICB2D93E9F-1E8A-4DE8-A119-801015125223
                      channels:
                      - james_AVIATION
                      - whitesails_MARINE
                      createdAt: '2021-07-29 14:44:42'
                      id: ICF349A025-B518-4937-9194-86AE86EA200E::FO::WHITESAILS::MARINE
                      inceptionDate: 1590969600
                      insuredName: Release 1.6.4 Declaration Exploratory Testing - Multi-Section
                      isFacility: false
                      lastModifiedBy: MUD84FE66A-077F-457C-B962-ABE7375907E8
                      leadUnderwriterChannel: ''
                      limitSummary: USD 20,000,000
                      placementType: FullContract
                      placingBrokerChannel: james_AVIATION
                      rev: 5-97576208c4705cef1464bd15ab7e80fa
                      status: FirmOrder
                      type: RWPlacing
                      umr: B00123JHP14282907
                      updatedAt: '2021-07-29 15:19:58'
                    - channels:
                      - james_AVIATION
                      - whitesails_MARINE
                      empty: false
                      id: ICF349A025-B518-4937-9194-86AE86EA200E::FO::WHITESAILS::MARINE::LGUS
                      sections:
                      - index: 2
                        multiSectionId: '2'
                        multiSectionName: Liability
                      type: RWLineGuidanceSet
                    - carriers:
                        whitesails_MARINE:
                        - '36'
                      id: ICF349A025-B518-4937-9194-86AE86EA200E::FO::WHITESAILS::MARINE::WRLS
                      needsApproving: false
                      type: RWWrittenLineSet
                      updatedAt: '2021-07-29 15:42:17'
                      written:
                      - '36'
                    - associatedFacilityIDs:
                      - ICB2D93E9F-1E8A-4DE8-A119-801015125223
                      channels:
                      - james_AVIATION
                      - whitesails_MARINE
                      createdAt: '2021-07-29 14:06:06'
                      id: ICF349A025-B518-4937-9194-86AE86EA200E::FOW::WHITESAILS::MARINE
                      inceptionDate: 1590969600
                      insuredName: Release 1.6.4 Declaration Exploratory Testing - Multi-Section
                      isFacility: false
                      lastModifiedBy: MU8E37F362-8C79-41E0-A35F-2ADEB31112B5
                      leadUnderwriterChannel: ''
                      limitSummary: USD 20,000,000
                      placementType: FullContract
                      placingBrokerChannel: james_AVIATION
                      rev: 1-49a6c3fd2e6c39a7487957094c8bbba2
                      status: FirmOrderWithdrawn
                      type: RWPlacing
                      umr: B00123JHP14282907
                      updatedAt: '2021-07-29 14:06:06'
                    - id: ICF349A025-B518-4937-9194-86AE86EA200E::OWN::WHITESAILS::MARINE
                      ownerChannel: whitesails_MARINE
                      ownerUserID: MUD84FE66A-077F-457C-B962-ABE7375907E8
                      type: RWRiskOwner
                      updatedAt: '2021-07-29 15:15:00'
                    filters:
                    - ctype:Declarations
                    - status:FirmOrder
                    - owner:MUD84FE66A-077F-457C-B962-ABE7375907E8
                    - name:1.6.4 declaration exploratory testing - multi-section
                    - name:- multi-section
                    - name:release 1.6.4 declaration exploratory testing - multi-section
                    - name:testing - multi-section
                    - umr:b00123jhp14282907
                    - facility:ICB2D93E9F-1E8A-4DE8-A119-801015125223
                    - name:exploratory testing - multi-section
                    - name:multi-section
                    - ptype:FullContract
                    - name:declaration exploratory testing - multi-section
                    rootID: ICF349A025-B518-4937-9194-86AE86EA200E
                    updatedAt: '2021-08-04 13:31:52'
                  - _id: RWRiskSummary::ICEADC1C71-6D8E-4946-B347-27D667A4A8D3::whitesails_MARINE
                    _rev: 1-e76a477e66f69c2e1e6bb316ccd92610
                    actions:
                    - uwFirmOrder:1628011128.0
                    docs:
                    - associatedFacilityIDs:
                      - ICB2D93E9F-1E8A-4DE8-A119-801015125223
                      channels:
                      - james_AVIATION
                      - whitesails_MARINE
                      createdAt: '2021-08-03 17:18:48'
                      id: ICEADC1C71-6D8E-4946-B347-27D667A4A8D3::FO::WHITESAILS::MARINE
                      inceptionDate: 1590969600
                      insuredName: Dec Test 14
                      isFacility: false
                      lastModifiedBy: MU8E37F362-8C79-41E0-A35F-2ADEB31112B5
                      leadUnderwriterChannel: ''
                      limitSummary: USD 20,000,000
                      placementType: FullContract
                      placingBrokerChannel: james_AVIATION
                      rev: 1-de972dcf6c0284973cf4d2fc8dc5abfd
                      status: FirmOrder
                      type: RWPlacing
                      umr: B00123JHP15502910
                      updatedAt: '2021-08-03 17:18:48'
                    - channels:
                      - james_AVIATION
                      - whitesails_MARINE
                      empty: false
                      id: ICEADC1C71-6D8E-4946-B347-27D667A4A8D3::FO::WHITESAILS::MARINE::LGUS
                      sections: []
                      type: RWLineGuidanceSet
                    filters:
                    - status:FirmOrderPending
                    - name:dec test 14
                    - name:test 14
                    - name:14
                    - action:uwFirmOrder
                    - status:FirmOrder
                    - ptype:FullContract
                    - umr:b00123jhp15502910
                    - ctype:Declarations
                    - facility:ICB2D93E9F-1E8A-4DE8-A119-801015125223
                    rootID: ICEADC1C71-6D8E-4946-B347-27D667A4A8D3
                    updatedAt: '2021-08-03 17:18:48'
                  - _id: RWRiskSummary::ICA50ED1CB-00F8-4790-B771-54B2B4AB854C::whitesails_MARINE
                    _rev: 4-4126fcff01462c59c1061844d8ec275f
                    actions:
                    - uwFirmOrder:1627567900.0
                    docs:
                    - carriers:
                        huttonpenman_AVIATION:
                        - '32'
                      id: ICA50ED1CB-00F8-4790-B771-54B2B4AB854C::FO::HUTTONPENMAN::AVIATION::WRLS-whitesails_MARINE
                      needsApproving: false
                      type: RWWrittenLineSet
                      updatedAt: '2021-07-29 15:10:51'
                      written:
                      - '32'
                    - associatedFacilityIDs:
                      - ICB2D93E9F-1E8A-4DE8-A119-801015125223
                      channels:
                      - james_AVIATION
                      - whitesails_MARINE
                      createdAt: '2021-07-29 14:11:40'
                      id: ICA50ED1CB-00F8-4790-B771-54B2B4AB854C::FO::WHITESAILS::MARINE
                      inceptionDate: 1590969600
                      insuredName: Release 1.6.4 Declaration Exploratory Testing - Multi-Section 3
                      isFacility: false
                      lastModifiedBy: MU8E37F362-8C79-41E0-A35F-2ADEB31112B5
                      leadUnderwriterChannel: ''
                      limitSummary: USD 20,000,000
                      placementType: FullContract
                      placingBrokerChannel: james_AVIATION
                      rev: 1-90af68cb0b2dc47f733e66f12b85b672
                      status: FirmOrder
                      type: RWPlacing
                      umr: B00123JHP15102907
                      updatedAt: '2021-07-29 14:11:40'
                    - channels:
                      - james_AVIATION
                      - whitesails_MARINE
                      empty: false
                      id: ICA50ED1CB-00F8-4790-B771-54B2B4AB854C::FO::WHITESAILS::MARINE::LGUS
                      sections:
                      - index: 2
                        multiSectionId: '2'
                        multiSectionName: Liability
                      type: RWLineGuidanceSet
                    - id: ICA50ED1CB-00F8-4790-B771-54B2B4AB854C::OWN::WHITESAILS::MARINE
                      ownerChannel: whitesails_MARINE
                      ownerUserID: MUD84FE66A-077F-457C-B962-ABE7375907E8
                      type: RWRiskOwner
                      updatedAt: '2021-07-29 15:10:29'
                    filters:
                    - name:multi-section 3
                    - name:1.6.4 declaration exploratory testing - multi-section 3
                    - name:3
                    - name:release 1.6.4 declaration exploratory testing - multi-section 3
                    - status:FirmOrder
                    - ctype:Declarations
                    - name:exploratory testing - multi-section 3
                    - status:FirmOrderPending
                    - action:uwFirmOrder
                    - name:testing - multi-section 3
                    - name:- multi-section 3
                    - name:declaration exploratory testing - multi-section 3
                    - facility:ICB2D93E9F-1E8A-4DE8-A119-801015125223
                    - owner:MUD84FE66A-077F-457C-B962-ABE7375907E8
                    - ptype:FullContract
                    - umr:b00123jhp15102907
                    rootID: ICA50ED1CB-00F8-4790-B771-54B2B4AB854C
                    updatedAt: '2021-07-29 15:10:51'
                  - _id: RWRiskSummary::ICA757F184-C688-4707-B5CF-82FDF6EBCDA0::whitesails_MARINE
                    _rev: 2-27d836d3a61d7378a510cbbb3a5d9091
                    actions:
                    - uwFirmOrder:1627480597.0
                    docs:
                    - carriers:
                        huttonpenman_AVIATION:
                        - '20'
                      id: ICA757F184-C688-4707-B5CF-82FDF6EBCDA0::FO::HUTTONPENMAN::AVIATION::WRLS-whitesails_MARINE
                      needsApproving: false
                      type: RWWrittenLineSet
                      updatedAt: '2021-07-28 13:56:38'
                      written:
                      - '20'
                    - associatedFacilityIDs:
                      - ICB2D93E9F-1E8A-4DE8-A119-801015125223
                      channels:
                      - james_AVIATION
                      - whitesails_MARINE
                      createdAt: '2021-07-28 13:56:37'
                      id: ICA757F184-C688-4707-B5CF-82FDF6EBCDA0::FO::WHITESAILS::MARINE
                      inceptionDate: 1590969600
                      insuredName: Release 1.6.4 Long Subjectivity
                      isFacility: false
                      lastModifiedBy: MU8E37F362-8C79-41E0-A35F-2ADEB31112B5
                      leadUnderwriterChannel: ''
                      limitSummary: USD 20,000,000
                      placementType: FullContract
                      placingBrokerChannel: james_AVIATION
                      rev: 1-3e8440b8ebc288bdc497d698a58394fe
                      status: FirmOrder
                      type: RWPlacing
                      umr: B00123JHP12242807
                      updatedAt: '2021-07-28 13:56:38'
                    - channels:
                      - james_AVIATION
                      - whitesails_MARINE
                      empty: false
                      id: ICA757F184-C688-4707-B5CF-82FDF6EBCDA0::FO::WHITESAILS::MARINE::LGUS
                      sections:
                      - index: 1
                        multiSectionId: '1'
                        multiSectionName: EEA
                      type: RWLineGuidanceSet
                    - id: ICA757F184-C688-4707-B5CF-82FDF6EBCDA0::OWN::WHITESAILS::MARINE
                      ownerChannel: whitesails_MARINE
                      ownerUserID: MUD84FE66A-077F-457C-B962-ABE7375907E8
                      type: RWRiskOwner
                      updatedAt: '2021-07-28 14:01:19'
                    filters:
                    - name:1.6.4 long subjectivity
                    - name:long subjectivity
                    - umr:b00123jhp12242807
                    - ctype:Declarations
                    - status:FirmOrder
                    - action:uwFirmOrder
                    - ptype:FullContract
                    - name:release 1.6.4 long subjectivity
                    - name:subjectivity
                    - facility:ICB2D93E9F-1E8A-4DE8-A119-801015125223
                    - status:FirmOrderPending
                    - owner:MUD84FE66A-077F-457C-B962-ABE7375907E8
                    rootID: ICA757F184-C688-4707-B5CF-82FDF6EBCDA0
                    updatedAt: '2021-07-28 14:01:19'
                  - _id: RWRiskSummary::ICAEDFBBBD-950A-4CBA-B492-1B5FFFA90418::whitesails_MARINE
                    _rev: 17-16107eff0290cfa47bb10601cf8b6f26
                    actions:
                    - uwFirmOrder:1625841322.0
                    docs:
                    - count: 8
                      digests:
                        sha1-1ZvttXnq1NfVUkj0/sWvA+WD3aI=: MU8E37F362-8C79-41E0-A35F-2ADEB31112B5
                        sha1-43fljMPOkOP8dP43YK+eDaY1+DA=: MU8E37F362-8C79-41E0-A35F-2ADEB31112B5
                        sha1-DyZnc8zTHaQI2p8QvLumXlO+4HI=: MU8E37F362-8C79-41E0-A35F-2ADEB31112B5
                        sha1-LsKXvRynt/nyzpnPDv8R+yyHCks=: MU8E37F362-8C79-41E0-A35F-2ADEB31112B5
                        sha1-N7I1CKvdW5cqK/U3U+57KQQTsTE=: MU8E37F362-8C79-41E0-A35F-2ADEB31112B5
                        sha1-Tn31R763RsK+Iv4Zymr1z2Ji98c=: MU8E37F362-8C79-41E0-A35F-2ADEB31112B5
                        sha1-mvdF6gHDFzcO9Wc1W8BkOEeyuiw=: MU8E37F362-8C79-41E0-A35F-2ADEB31112B5
                        sha1-rMjLBGpn56Gp1yphy9jFvhxrZ0c=: MU8E37F362-8C79-41E0-A35F-2ADEB31112B5
                      id: ICAEDFBBBD-950A-4CBA-B492-1B5FFFA90418::ATCH
                      type: RWAttachmentCollection
                      updatedAt: '2021-07-09 14:34:09'
                    - associatedFacilityIDs:
                      - ICBB07870C-1D4C-4C41-A1EF-792EE67F1AEA
                      channels:
                      - james_AVIATION
                      - whitesails_MARINE
                      createdAt: '2021-07-09 14:35:22'
                      id: ICAEDFBBBD-950A-4CBA-B492-1B5FFFA90418::FO::WHITESAILS::MARINE
                      inceptionDate: 1590969600
                      insuredName: Release 1.6.3 Declaration Quoting Test
                      isFacility: false
                      lastModifiedBy: MU8E37F362-8C79-41E0-A35F-2ADEB31112B5
                      leadUnderwriterChannel: ''
                      limitSummary: USD 20,000,000
                      placementType: FullContract
                      placingBrokerChannel: james_AVIATION
                      rev: 1-299ec5b227918e6ef2aac3f47e9031db
                      status: FirmOrder
                      type: RWPlacing
                      umr: B00123JHP15330907
                      updatedAt: '2021-07-09 14:35:23'
                    - channels:
                      - james_AVIATION
                      - whitesails_MARINE
                      empty: false
                      id: ICAEDFBBBD-950A-4CBA-B492-1B5FFFA90418::FO::WHITESAILS::MARINE::LGUS
                      sections: []
                      type: RWLineGuidanceSet
                    - associatedFacilityIDs:
                      - ICB2D93E9F-1E8A-4DE8-A119-801015125223
                      - IC12456441-7A8F-474C-B2E9-D63572D661CD
                      - ICBB07870C-1D4C-4C41-A1EF-792EE67F1AEA
                      channels:
                      - james_AVIATION
                      - whitesails_MARINE
                      createdAt: '2021-06-04 14:02:18'
                      id: ICAEDFBBBD-950A-4CBA-B492-1B5FFFA90418::QR1
                      inceptionDate: 1590969600
                      insuredName: Release 1.6.3 Declaration Quoting Test
                      isFacility: false
                      lastModifiedBy: MU8E37F362-8C79-41E0-A35F-2ADEB31112B5
                      leadUnderwriterChannel: whitesails_MARINE
                      limitSummary: USD 20,000,000
                      placementType: FullContract
                      placingBrokerChannel: james_AVIATION
                      rev: 4-87e74044ee8cd1c3f447612d1f00870a
                      status: QuotationRequestWithdrawn
                      type: RWPlacing
                      umr: B00123JHP14540406
                      updatedAt: '2021-07-09 14:35:23'
                    filters:
                    - rcpt:MU8E37F362-8C79-41E0-A35F-2ADEB31112B5:ICAEDFBBBD-950A-4CBA-B492-1B5FFFA90418::ATCH_rcpt_[[USER]]_att_sha1-Tn31R763RsK-Iv4Zymr1z2Ji98c
                    - facility:ICB2D93E9F-1E8A-4DE8-A119-801015125223
                    - rcpt:MU8E37F362-8C79-41E0-A35F-2ADEB31112B5:ICAEDFBBBD-950A-4CBA-B492-1B5FFFA90418::ATCH_rcpt_[[USER]]_att_sha1-43fljMPOkOP8dP43YK-eDaY1-DA
                    - name:release 1.6.3 declaration quoting test
                    - status:FirmOrderPending
                    - umr:b00123jhp15330907
                    - ptype:FullContract
                    - facility:IC12456441-7A8F-474C-B2E9-D63572D661CD
                    - action:uwFirmOrder
                    - facility:ICBB07870C-1D4C-4C41-A1EF-792EE67F1AEA
                    - rcpt:MU8E37F362-8C79-41E0-A35F-2ADEB31112B5:ICAEDFBBBD-950A-4CBA-B492-1B5FFFA90418::ATCH_rcpt_[[USER]]_att_sha1-1ZvttXnq1NfVUkj0_sWvA-WD3aI
                    - name:quoting test
                    - rcpt:MU8E37F362-8C79-41E0-A35F-2ADEB31112B5:ICAEDFBBBD-950A-4CBA-B492-1B5FFFA90418::ATCH_rcpt_[[USER]]_att_sha1-N7I1CKvdW5cqK_U3U-57KQQTsTE
                    - rcpt:MU8E37F362-8C79-41E0-A35F-2ADEB31112B5:ICAEDFBBBD-950A-4CBA-B492-1B5FFFA90418::ATCH_rcpt_[[USER]]_att_sha1-DyZnc8zTHaQI2p8QvLumXlO-4HI
                    - ctype:Declarations
                    - name:test
                    - name:1.6.3 declaration quoting test
                    - rcpt:MU8E37F362-8C79-41E0-A35F-2ADEB31112B5:ICAEDFBBBD-950A-4CBA-B492-1B5FFFA90418::ATCH_rcpt_[[USER]]_att_sha1-LsKXvRynt_nyzpnPDv8R-yyHCks
                    - status:FirmOrder
                    - umr:b00123jhp14540406
                    - rcpt:MU8E37F362-8C79-41E0-A35F-2ADEB31112B5:ICAEDFBBBD-950A-4CBA-B492-1B5FFFA90418::ATCH_rcpt_[[USER]]_att_sha1-rMjLBGpn56Gp1yphy9jFvhxrZ0c
                    - rcpt:MU8E37F362-8C79-41E0-A35F-2ADEB31112B5:ICAEDFBBBD-950A-4CBA-B492-1B5FFFA90418::ATCH_rcpt_[[USER]]_att_sha1-mvdF6gHDFzcO9Wc1W8BkOEeyuiw
                    - name:declaration quoting test
                    rootID: ICAEDFBBBD-950A-4CBA-B492-1B5FFFA90418
                    updatedAt: '2021-07-09 14:35:23'
                  - _id: RWRiskSummary::IC631D9ED4-214A-4AEA-ABD4-2BD699CCD49E::whitesails_MARINE
                    _rev: 14-05f21ef721048c3526fdacd1370aa3d8
                    actions: []
                    docs:
                    - count: 4
                      digests:
                        sha1-E13vySJuVdwmGQisROL/krksoqo=: MU8E37F362-8C79-41E0-A35F-2ADEB31112B5
                        sha1-kblPlj6Qguss5IhN5HhM5yrYAuY=: MU8E37F362-8C79-41E0-A35F-2ADEB31112B5
                        sha1-teKYiYJ9x3AtCP8kVTCPJtgPX6w=: MU8E37F362-8C79-41E0-A35F-2ADEB31112B5
                        sha1-tg8SAkzT0SKkBtwEPdjKsJx7rh4=: MU8E37F362-8C79-41E0-A35F-2ADEB31112B5
                      id: IC631D9ED4-214A-4AEA-ABD4-2BD699CCD49E::ATCH
                      type: RWAttachmentCollection
                      updatedAt: '2021-04-07 09:32:29'
                    - carriers:
                        huttonpenman_MARINE:
                        - '45'
                      id: IC631D9ED4-214A-4AEA-ABD4-2BD699CCD49E::FO::HUTTONPENMAN::MARINE::WRLS-whitesails_MARINE
                      needsApproving: false
                      type: RWWrittenLineSet
                      updatedAt: '2021-04-06 16:32:01'
                      written:
                      - '45'
                    - carriers:
                        igc_LDNENERGY:
                        - '30'
                      id: IC631D9ED4-214A-4AEA-ABD4-2BD699CCD49E::FO::IGC::LDNENERGY::WRLS-whitesails_MARINE
                      needsApproving: false
                      type: RWWrittenLineSet
                      updatedAt: '2021-04-06 16:32:01'
                      written:
                      - '30'
                    - associatedFacilityIDs:
                      - IC673810CC-8425-4A29-96C6-E4BFF857E3B0
                      channels:
                      - james_AVIATION
                      - whitesails_MARINE
                      createdAt: '2021-04-06 16:32:01'
                      id: IC631D9ED4-214A-4AEA-ABD4-2BD699CCD49E::FO::WHITESAILS::MARINE
                      inceptionDate: 1590969600
                      insuredName: New Orleans  International Airways Ltd
                      isFacility: false
                      lastModifiedBy: MU8E37F362-8C79-41E0-A35F-2ADEB31112B5
                      leadUnderwriterChannel: ''
                      limitSummary: USD 20,000,000
                      placementType: FullContract
                      placingBrokerChannel: james_AVIATION
                      rev: 1-5d4bfc79a575d3f61a9209f4c1aa7342
                      status: FirmOrder
                      type: RWPlacing
                      umr: B00123JHP17052105
                      updatedAt: '2021-04-06 16:32:01'
                    - carriers:
                        whitesails_MARINE:
                        - '15'
                      id: IC631D9ED4-214A-4AEA-ABD4-2BD699CCD49E::FO::WHITESAILS::MARINE::WRLS
                      needsApproving: false
                      type: RWWrittenLineSet
                      updatedAt: '2021-04-06 16:32:01'
                      written:
                      - '15'
                    filters:
                    - name:airways ltd
                    - rcpt:MU8E37F362-8C79-41E0-A35F-2ADEB31112B5:IC631D9ED4-214A-4AEA-ABD4-2BD699CCD49E::ATCH_rcpt_[[USER]]_att_sha1-kblPlj6Qguss5IhN5HhM5yrYAuY
                    - name:ltd
                    - ctype:Declarations
                    - status:FirmOrder
                    - facility:IC673810CC-8425-4A29-96C6-E4BFF857E3B0
                    - name:international airways ltd
                    - rcpt:MU8E37F362-8C79-41E0-A35F-2ADEB31112B5:IC631D9ED4-214A-4AEA-ABD4-2BD699CCD49E::ATCH_rcpt_[[USER]]_att_sha1-E13vySJuVdwmGQisROL_krksoqo
                    - rcpt:MU8E37F362-8C79-41E0-A35F-2ADEB31112B5:IC631D9ED4-214A-4AEA-ABD4-2BD699CCD49E::ATCH_rcpt_[[USER]]_att_sha1-tg8SAkzT0SKkBtwEPdjKsJx7rh4
                    - rcpt:MU8E37F362-8C79-41E0-A35F-2ADEB31112B5:IC631D9ED4-214A-4AEA-ABD4-2BD699CCD49E::ATCH_rcpt_[[USER]]_att_sha1-teKYiYJ9x3AtCP8kVTCPJtgPX6w
                    - umr:b00123jhp17052105
                    - ptype:FullContract
                    - name:orleans  international airways ltd
                    - 'name: international airways ltd'
                    - name:new orleans  international airways ltd
                    rootID: IC631D9ED4-214A-4AEA-ABD4-2BD699CCD49E
                    updatedAt: '2021-04-07 09:32:29'
                  - _id: RWRiskSummary::IC4FEC82DA-7C74-4C1B-ADB3-054350D73826::whitesails_MARINE
                    _rev: 5-0715948dce76b549250569cf3944482c
                    actions:
                    - uwFirmOrder:1610359572.0
                    docs:
                    - associatedFacilityIDs:
                      - ICB2D93E9F-1E8A-4DE8-A119-801015125223
                      - ICE0408740-5BAE-4268-9A26-605E3676C7E3
                      channels:
                      - james_AVIATION
                      - whitesails_MARINE
                      createdAt: '2021-01-11 10:06:12'
                      id: IC4FEC82DA-7C74-4C1B-ADB3-054350D73826::FO::WHITESAILS::MARINE
                      inceptionDate: 1590969600
                      insuredName: Release 1.5.5 Test 3
                      isFacility: false
                      lastModifiedBy: MU8E37F362-8C79-41E0-A35F-2ADEB31112B5
                      leadUnderwriterChannel: ''
                      limitSummary: USD 20,000,000
                      placementType: FullContract
                      placingBrokerChannel: james_AVIATION
                      rev: 2-4d221fae02ef9064413d17475f7b151d
                      status: FirmOrder
                      type: RWPlacing
                      umr: B00123JHP16142412
                      updatedAt: '2021-01-11 10:18:19'
                    - channels:
                      - james_AVIATION
                      - whitesails_MARINE
                      empty: false
                      id: IC4FEC82DA-7C74-4C1B-ADB3-054350D73826::FO::WHITESAILS::MARINE::LGUS
                      sections: []
                      type: RWLineGuidanceSet
                    - id: IC4FEC82DA-7C74-4C1B-ADB3-054350D73826::OWN::WHITESAILS::MARINE
                      ownerChannel: whitesails_MARINE
                      ownerUserID: MUD84FE66A-077F-457C-B962-ABE7375907E8
                      type: RWRiskOwner
                      updatedAt: '2021-02-19 12:19:24'
                    filters:
                    - ptype:FullContract
                    - umr:b00123jhp16142412
                    - name:release 1.5.5 test 3
                    - status:FirmOrder
                    - ctype:Declarations
                    - name:test 3
                    - owner:MUD84FE66A-077F-457C-B962-ABE7375907E8
                    - facility:ICE0408740-5BAE-4268-9A26-605E3676C7E3
                    - name:3
                    - action:uwFirmOrder
                    - status:FirmOrderPending
                    - name:1.5.5 test 3
                    - facility:ICB2D93E9F-1E8A-4DE8-A119-801015125223
                    rootID: IC4FEC82DA-7C74-4C1B-ADB3-054350D73826
                    updatedAt: '2021-02-19 12:19:24'
                  - _id: RWRiskSummary::ICE4602EE0-BC42-4EF3-B0E2-CD393DAAC2A5::whitesails_MARINE
                    _rev: 9-aa522d56e7260d88381b1dfc1d65bf24
                    actions: []
                    docs:
                    - carriers:
                        mcneillieuwr_ALL:
                        - '40'
                      id: ICE4602EE0-BC42-4EF3-B0E2-CD393DAAC2A5::FO::MCNEILLIEUWR::ALL::WRLS-whitesails_MARINE
                      needsApproving: false
                      type: RWWrittenLineSet
                      updatedAt: '2021-01-27 11:20:52'
                      written:
                      - '40'
                    - carriers:
                        whitecliffs_MARINE:
                        - '35'
                      id: ICE4602EE0-BC42-4EF3-B0E2-CD393DAAC2A5::FO::WHITECLIFFS::MARINE::WRLS-whitesails_MARINE
                      needsApproving: false
                      type: RWWrittenLineSet
                      updatedAt: '2021-01-27 11:20:52'
                      written:
                      - '35'
                    - associatedFacilityIDs:
                      - IC19E2A072-BCAC-48C6-9F0A-CD5517DFB949
                      channels:
                      - gailbkr_ALL
                      - whitesails_MARINE
                      createdAt: '2021-01-27 11:20:52'
                      id: ICE4602EE0-BC42-4EF3-B0E2-CD393DAAC2A5::FO::WHITESAILS::MARINE
                      inceptionDate: 1564617600
                      insuredName: PF Declaration Test - GHM 27/01 - 002
                      isFacility: false
                      lastModifiedBy: MU0A7E5E65-AF27-4615-A447-E2AB41B1CF61
                      leadUnderwriterChannel: ''
                      limitSummary: USD 20,000,000
                      placementType: FullContract
                      placingBrokerChannel: gailbkr_ALL
                      rev: 1-cc9a7200b443670eba8ff91481523e2b
                      status: FirmOrder
                      type: RWPlacing
                      umr: B0999GM27012021
                      updatedAt: '2021-01-27 11:20:52'
                    - carriers:
                        whitesails_MARINE:
                        - '25'
                      id: ICE4602EE0-BC42-4EF3-B0E2-CD393DAAC2A5::FO::WHITESAILS::MARINE::WRLS
                      needsApproving: false
                      type: RWWrittenLineSet
                      updatedAt: '2021-01-27 11:20:52'
                      written:
                      - '25'
                    filters:
                    - umr:b0999gm27012021
                    - name:- ghm 27/01 - 002
                    - name:- 002
                    - status:FirmOrder
                    - name:declaration test - ghm 27/01 - 002
                    - name:ghm 27/01 - 002
                    - ptype:FullContract
                    - facility:IC19E2A072-BCAC-48C6-9F0A-CD5517DFB949
                    - name:27/01 - 002
                    - name:test - ghm 27/01 - 002
                    - ctype:Declarations
                    - name:002
                    - name:pf declaration test - ghm 27/01 - 002
                    rootID: ICE4602EE0-BC42-4EF3-B0E2-CD393DAAC2A5
                    updatedAt: '2021-01-27 11:20:52'
                  - _id: RWRiskSummary::IC1D2FC072-E336-4390-B50C-28B7065A2185::whitesails_MARINE
                    _rev: 9-136614425ec811d349dec24f153a1432
                    actions: []
                    docs:
                    - carriers:
                        mcneillieuwr_ALL:
                        - '40'
                      id: IC1D2FC072-E336-4390-B50C-28B7065A2185::FO::MCNEILLIEUWR::ALL::WRLS-whitesails_MARINE
                      needsApproving: false
                      type: RWWrittenLineSet
                      updatedAt: '2021-01-27 11:12:48'
                      written:
                      - '40'
                    - carriers:
                        whitecliffs_MARINE:
                        - '35'
                      id: IC1D2FC072-E336-4390-B50C-28B7065A2185::FO::WHITECLIFFS::MARINE::WRLS-whitesails_MARINE
                      needsApproving: false
                      type: RWWrittenLineSet
                      updatedAt: '2021-01-27 11:12:48'
                      written:
                      - '35'
                    - associatedFacilityIDs:
                      - IC19E2A072-BCAC-48C6-9F0A-CD5517DFB949
                      channels:
                      - gailbkr_ALL
                      - whitesails_MARINE
                      createdAt: '2021-01-27 11:12:48'
                      id: IC1D2FC072-E336-4390-B50C-28B7065A2185::FO::WHITESAILS::MARINE
[...]
