openapi: 3.2.0
info:
  version: 0.1.0
  title: Whitespace Platform Risks API
  description: <div>Last update 29th May 2025</div> <p/> <div>Our intention is to cover the API calls most of use to those wanting  to integrate external systems to the Whitespace Platform. We will give  some descriptions about usage, but put full detail in standalone documents at  <a href='https://apidocs.whitespace.co.uk/'>https://apidocs.whitespace.co.uk/</a>. We intend to have the published endpoints and schemas documented to the  level that the code generated can be used safely and without modification to call our APIs safely.</div>  <p/> <div>Calls exclusive to brokers or underwriters have a comment of Broker Only and Underwriter Only respectively. All other calls work for both, but functionality might depend on the stage the risk is at, or other contextual factors.</div> <div>Where certain properties refer to RootID or similar, they are actually referring to the ID of the entire slip, encompassing all stages and instances of the contract. This is a unique 38-character reference starting with the letters IC. If they mention riskID or docID or placingID, these are refering to the ID of a specific document or contract instance within the slip. This is always the RootID of the base slip followed by a double colon, ::, and further characters.</div> <div> Once your Integration is ready to go live, the URL for production is <b>https://www.whitespaceplatform.com</b></div>
servers:
- description: Sandbox Environment
  url: https://sandbox.whitespace.co.uk/
- description: Tess Environment
  url: https://tess.whitespace.co.uk/
- description: Beta Environment
  url: https://beta.whitespace.co.uk/
- description: Staging Environment
  url: https://staging.whitespace.co.uk/
security:
- bearerAuth: []
tags:
- name: Risks
paths:
  /api/risks/{riskID}:
    get:
      tags:
      - Risks
      summary: Get a Risk in JMRC format
      parameters:
      - in: path
        name: riskID
        schema:
          type: string
        required: true
        description: The unique ID of the risk
        example: IC213DA609-D6B5-4A05-86B8-3FD91E861F57::FO
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RWPlacing'
              example:
                MRCContract:
                  lineItems:
                  - elements: []
                    fragments: []
                    index: 0
                    mrcHeading: NonMRCHeading
                    mrcSection: RiskDetails
                    nameVariation: NonMRCHeading
                    originalHeading: 'RISK DETAILS '
                    originalSection: self
                    placeholders: []
                    subItems: []
                  - elements:
                    - index: 0
                      text: ' [[DefinedData0]]'
                    fragments: []
                    index: 1
                    locked: false
                    mrcHeading: UMR
                    mrcSection: RiskDetails
                    nameVariation: UMR
                    originalHeading: UNIQUE MARKET REFERENCE
                    originalSection: ''
                    placeholders:
                    - name: DefinedData0
                      originalValue: B333333
                      phType: DefinedData
                      tags:
                      - Page:D7F19D50-5AEC-4259-8E8C-2AF144361591
                      - Broker_Reference
                      value: B333333
                    subItems: []
                    tagPages:
                    - pageID: D7F19D50-5AEC-4259-8E8C-2AF144361591
                      sectionIDs: []
                      title: ''
                  - elements:
                    - index: 0
                      text: Dalston Airways
                    fragments: []
                    index: 2
                    locked: false
                    mrcHeading: Insured
                    mrcSection: RiskDetails
                    nameVariation: Insured
                    originalHeading: INSURED
                    originalSection: ''
                    placeholders: []
                    subItems: []
                    tagPages:
                    - pageID: 81DA7CD1-754D-4C12-B673-B8D6B1D81DD9
                      sectionIDs: []
                      title: ''
                  - elements:
                    - index: 0
                      text: ' [[DefinedData0]], [[DefinedData1]]'
                    fragments: []
                    index: 3
                    locked: false
                    mrcHeading: PrincipalAddress
                    mrcSection: RiskDetails
                    nameVariation: Address
                    originalHeading: ADDRESS
                    originalSection: ''
                    placeholders:
                    - name: DefinedData0
                      originalValue: London
                      phType: DefinedData
                      tags:
                      - Page:E57DD7F3-5AEC-45B9-9F00-420972858E4E
                      - Insured_City_Name
                      value: London
                    - name: DefinedData1
                      originalValue: United Kingdom
                      phType: DefinedData
                      tags:
                      - Page:E57DD7F3-5AEC-45B9-9F00-420972858E4E
                      - Insured_Country
                      value: United Kingdom
                    subItems: []
                    tagPages:
                    - pageID: E57DD7F3-5AEC-45B9-9F00-420972858E4E
                      sectionIDs: []
                      title: ''
                  - elements:
                    - html: '<b>From: </b><b>[[DefinedData0]]</b>'
                      index: 0
                      text: 'From: [[DefinedData0]]'
                    - html: '<b>To: </b><b>[[DefinedData1]]</b>'
                      index: 1
                      text: 'To: [[DefinedData1]]'
                    - html: <i>Both days at </i><i>[[DefinedData2]]</i><i> </i><i>[[DefinedData3]]</i><i> at the location of</i> <i>the property insured.</i>
                      index: 2
                      text: Both days at [[DefinedData2]] [[DefinedData3]] at the location of the property insured.
                    - html: <i>And any other period for which the Insurer and the Insured</i> <i>agree to renew the Policy.</i>
                      index: 3
                      text: And any other period for which the Insurer and the Insured agree to renew the Policy.
                    fragments: []
                    index: 4
                    locked: false
                    mrcHeading: Period
                    mrcSection: RiskDetails
                    nameVariation: Period
                    originalHeading: PERIOD
                    originalSection: ''
                    placeholders:
                    - name: DefinedData0
                      originalValue: 05 Sep 2022
                      phType: Date
                      tags:
                      - Page:88952AC9-7C4A-47B7-9CFC-5F92A5F1730D
                      - Inception_Date
                      value: 05 Sep 2022
                    - name: DefinedData1
                      originalValue: 06 Nov 2023
                      phType: Date
                      tags:
                      - Page:88952AC9-7C4A-47B7-9CFC-5F92A5F1730D
                      - Expiry_Date
                      value: 06 Nov 2023
                    - name: DefinedData2
                      originalValue: 12.01 a.m.
                      phType: DefinedData
                      tags:
                      - Page:88952AC9-7C4A-47B7-9CFC-5F92A5F1730D
                      - Expiry_Time
                      - Inception_Time
                      value: 12.01 a.m.
                    - name: DefinedData3
                      originalValue: Local Standard Time
                      phType: DefinedData
                      tags:
                      - Page:88952AC9-7C4A-47B7-9CFC-5F92A5F1730D
                      - Time_Qualifier
                      value: Local Standard Time
                    subItems: []
                    tagPages:
                    - pageID: 88952AC9-7C4A-47B7-9CFC-5F92A5F1730D
                      sectionIDs: []
                      title: ''
                  - elements:
                    - index: 0
                      text: ' [[DefinedData0]]'
                    fragments: []
                    index: 5
                    locked: false
                    mrcHeading: ContractType
                    mrcSection: RiskDetails
                    nameVariation: ContractType
                    originalHeading: TYPE
                    originalSection: ''
                    placeholders:
                    - name: DefinedData0
                      originalValue: Marine Hull
                      phType: DefinedData
                      tags:
                      - Page:652453A1-7D50-49F0-B789-A1C9768928DA
                      - Class_Of_Business
                      value: Marine Hull
                    subItems: []
                    tagPages:
                    - pageID: 652453A1-7D50-49F0-B789-A1C9768928DA
                      sectionIDs: []
                      title: ''
                  - elements:
                    - html: '<b><u>[[DefinedData4]] All Risks:</u></b> '
                      index: 0
                      text: '[[DefinedData4]] All Risks: '
                    - index: 1
                      text: Agreed Values as per Schedule subject to a maximum of [[DefinedData5]] [[DefinedData6]].
                    - index: 2
                      text: ''
                    - html: '<b><u>[[DefinedData0]]: </u></b>'
                      index: 3
                      text: '[[DefinedData0]]: '
                    - index: 4
                      text: 'Combined Single Limit: ([[DefinedData1]]) [[DefinedData2]] [[DefinedData3]] / aircraft subject to sub-limits of:'
                    fragments: []
                    index: 6
                    locked: false
                    mrcHeading: LimitOfLiability
                    mrcSection: RiskDetails
                    nameVariation: LimitsOfLiability
                    originalHeading: LIMITS OF LIABILITY
                    originalSection: ''
                    placeholders:
                    - name: DefinedData4
                      originalValue: Damage
                      phType: DefinedData
                      tags:
                      - Page:FDEB8CFE-791F-4C00-B2AA-A7208FEDF03A
                      - Coverage
                      value: Damage
                    - name: DefinedData5
                      originalValue: USD 20,000,000
                      phType: Amount
                      tags:
                      - Page:FDEB8CFE-791F-4C00-B2AA-A7208FEDF03A
                      - Coverage_Amount
                      value: USD 20,000,000
                    - name: DefinedData6
                      originalValue: any one Aircraft
                      phType: DefinedData
                      tags:
                      - Page:FDEB8CFE-791F-4C00-B2AA-A7208FEDF03A
                      - Coverage_Basis
                      value: any one Aircraft
                    - name: DefinedData0
                      originalValue: Liability
                      phType: DefinedData
                      tags:
                      - Page:E7FDCCB4-8BA5-4771-8E6D-13241DCBF3E5
                      - Coverage
                      value: Liability
                    - name: DefinedData1
                      originalValue: Bodily Injury/ Property Damage/ Personal Injury
                      phType: DefinedData
                      tags:
                      - Page:E7FDCCB4-8BA5-4771-8E6D-13241DCBF3E5
                      - Coverage_Subject_Matter
                      value: Bodily Injury/ Property Damage/ Personal Injury
                    - name: DefinedData2
                      originalValue: USD 100,000,000
                      phType: Amount
                      tags:
                      - Page:E7FDCCB4-8BA5-4771-8E6D-13241DCBF3E5
                      - Coverage_Amount
                      value: USD 100,000,000
                    - name: DefinedData3
                      originalValue: any one occurrence
                      phType: DefinedData
                      tags:
                      - Page:E7FDCCB4-8BA5-4771-8E6D-13241DCBF3E5
                      - Coverage_Basis
                      value: any one occurrence
                    subItems: []
                    tagPages:
                    - pageID: E7FDCCB4-8BA5-4771-8E6D-13241DCBF3E5
                      sectionIDs: []
                      title: ''
                    - pageID: FDEB8CFE-791F-4C00-B2AA-A7208FEDF03A
                      sectionIDs: []
                      title: ''
                  - elements:
                    - html: <b><u>Hull All Risks:</u></b> Aircraft as per schedule against all risks of [[DefinedData1]] or [[DefinedData0]]
                      index: 0
                      text: 'Hull All Risks: Aircraft as per schedule against all risks of [[DefinedData1]] or [[DefinedData0]]'
                    - index: 1
                      table:
                        columnsSpecs:
                        - alignment: left
                          columnTag: Insured_Item_Unique_Identifier
                          x: 0
                        - alignment: left
                          columnTag: Insured_Risk_Factor_Description
                          x: 0
                        rows:
                        - height: 22
                          isHeaderRow: true
                          values:
                          - Reg
                          - Aircraft Type
                        - height: 22
                          values:
                          - '[[DefinedDataTable0:0]]'
                          - '[[DefinedDataTable0:34]]'
                        - height: 22
                          values:
                          - '[[DefinedDataTable0:1]]'
                          - '[[DefinedDataTable0:35]]'
                        - height: 22
                          values:
                          - '[[DefinedDataTable0:2]]'
                          - '[[DefinedDataTable0:36]]'
                        - height: 22
                          values:
                          - '[[DefinedDataTable0:3]]'
                          - '[[DefinedDataTable0:37]]'
                        - height: 22
                          values:
                          - '[[DefinedDataTable0:4]]'
                          - '[[DefinedDataTable0:38]]'
                        - height: 22
                          values:
                          - '[[DefinedDataTable0:5]]'
                          - '[[DefinedDataTable0:39]]'
                        - height: 22
                          values:
                          - '[[DefinedDataTable0:6]]'
                          - '[[DefinedDataTable0:40]]'
                        - height: 22
                          values:
                          - '[[DefinedDataTable0:7]]'
                          - '[[DefinedDataTable0:41]]'
                        - height: 22
                          values:
                          - '[[DefinedDataTable0:8]]'
                          - '[[DefinedDataTable0:42]]'
                        - height: 22
                          values:
                          - '[[DefinedDataTable0:9]]'
                          - '[[DefinedDataTable0:43]]'
                        - height: 22
                          values:
                          - '[[DefinedDataTable0:10]]'
                          - '[[DefinedDataTable0:44]]'
                        - height: 22
                          values:
                          - '[[DefinedDataTable0:11]]'
                          - '[[DefinedDataTable0:45]]'
                        - height: 22
                          values:
                          - '[[DefinedDataTable0:12]]'
                          - '[[DefinedDataTable0:46]]'
                        - height: 22
                          values:
                          - '[[DefinedDataTable0:13]]'
                          - '[[DefinedDataTable0:47]]'
                        - height: 22
                          values:
                          - '[[DefinedDataTable0:14]]'
                          - '[[DefinedDataTable0:48]]'
                        - height: 22
                          values:
                          - '[[DefinedDataTable0:15]]'
                          - '[[DefinedDataTable0:49]]'
                        - height: 22
                          values:
                          - '[[DefinedDataTable0:16]]'
                          - '[[DefinedDataTable0:50]]'
                        - height: 22
                          values:
                          - '[[DefinedDataTable0:17]]'
                          - '[[DefinedDataTable0:51]]'
                        - height: 22
                          values:
                          - '[[DefinedDataTable0:18]]'
                          - '[[DefinedDataTable0:52]]'
                        - height: 22
                          values:
                          - '[[DefinedDataTable0:19]]'
                          - '[[DefinedDataTable0:53]]'
                        - height: 22
                          values:
                          - '[[DefinedDataTable0:20]]'
                          - '[[DefinedDataTable0:54]]'
                        - height: 22
                          values:
                          - '[[DefinedDataTable0:21]]'
                          - '[[DefinedDataTable0:55]]'
                        - height: 22
                          values:
                          - '[[DefinedDataTable0:22]]'
                          - '[[DefinedDataTable0:56]]'
                        - height: 22
                          values:
                          - '[[DefinedDataTable0:23]]'
                          - '[[DefinedDataTable0:57]]'
                        - height: 22
                          values:
                          - '[[DefinedDataTable0:24]]'
                          - '[[DefinedDataTable0:58]]'
                        - height: 22
                          values:
                          - '[[DefinedDataTable0:25]]'
                          - '[[DefinedDataTable0:59]]'
                        - height: 22
                          values:
                          - '[[DefinedDataTable0:26]]'
                          - '[[DefinedDataTable0:60]]'
                        - height: 22
                          values:
                          - '[[DefinedDataTable0:27]]'
                          - '[[DefinedDataTable0:61]]'
                        - height: 22
                          values:
                          - '[[DefinedDataTable0:28]]'
                          - '[[DefinedDataTable0:62]]'
                        - height: 22
                          values:
                          - '[[DefinedDataTable0:29]]'
                          - '[[DefinedDataTable0:63]]'
                        - height: 22
                          values:
                          - '[[DefinedDataTable0:30]]'
                          - '[[DefinedDataTable0:64]]'
                        - height: 22
                          values:
                          - '[[DefinedDataTable0:31]]'
                          - '[[DefinedDataTable0:65]]'
                        - height: 22
                          values:
                          - '[[DefinedDataTable0:32]]'
                          - '[[DefinedDataTable0:66]]'
                        - height: 22
                          values:
                          - '[[DefinedDataTable0:33]]'
                          - '[[DefinedDataTable0:67]]'
                        rowsSpecs: []
                        widths:
                        - 68
                        - 101
                    - index: 2
                      text: ''
                    fragments: []
                    index: 7
                    locked: false
                    mrcHeading: Interest
                    mrcSection: RiskDetails
                    nameVariation: Interest
                    originalHeading: INTEREST
                    originalSection: ''
                    placeholders:
                    - name: DefinedData1
                      originalValue: loss
                      phType: DefinedData
                      tags:
                      - Page:653E7083-222E-404C-BA8C-1450DBE74FE6
                      - Coverage
                      value: loss
                    - name: DefinedData0
                      originalValue: damage
                      phType: DefinedData
                      tags:
                      - Page:FA4E7F59-E96F-4B4B-A6E1-337B5F17F47E
                      - Coverage
                      value: damage
                    - name: DefinedDataTable0:0
                      originalValue: C-FYJI
                      phType: DefinedData
                      tags:
                      - Page:FA4E7F59-E96F-4B4B-A6E1-337B5F17F47E
                      - Insured_Item_Unique_Identifier
                      value: C-FYJI
                    - name: DefinedDataTable0:1
                      originalValue: C-FYKC
                      phType: DefinedData
                      tags:
                      - Page:653E7083-222E-404C-BA8C-1450DBE74FE6
                      - Insured_Item_Unique_Identifier
                      value: C-FYKC
                    - name: DefinedDataTable0:2
                      originalValue: C-FYKR
                      phType: DefinedData
                      tags:
                      - Page:E45A09FA-BD25-4EDE-9F52-53F946939078
                      - Insured_Item_Unique_Identifier
                      value: C-FYKR
                    - name: DefinedDataTable0:3
                      originalValue: C-FZUH
                      phType: DefinedData
                      tags:
                      - Page:7DCADEE6-6EFD-4FD8-9351-D75554A6F81D
                      - Insured_Item_Unique_Identifier
                      value: C-FZUH
                    - name: DefinedDataTable0:4
                      originalValue: C-FZUJ
                      phType: DefinedData
                      tags:
                      - Page:2D517E2B-B920-4503-89E1-83E0ED1E8979
                      - Insured_Item_Unique_Identifier
                      value: C-FZUJ
                    - name: DefinedDataTable0:5
                      originalValue: C-FZUL
                      phType: DefinedData
                      tags:
                      - Page:26810E1A-F8B9-4126-AB4C-898669878C38
                      - Insured_Item_Unique_Identifier
                      value: C-FZUL
                    - name: DefinedDataTable0:6
                      originalValue: C-GAPY
                      phType: DefinedData
                      tags:
                      - Page:099D0E12-C61B-4FA1-9591-EC19D5B04377
                      - Insured_Item_Unique_Identifier
                      value: C-GAPY
                    - name: DefinedDataTable0:7
                      originalValue: C-GAQL
                      phType: DefinedData
                      tags:
                      - Page:B83DF096-2A31-49DA-92C7-631F93396724
                      - Insured_Item_Unique_Identifier
                      value: C-GAQL
                    - name: DefinedDataTable0:8
                      originalValue: C-GAQX
                      phType: DefinedData
                      tags:
                      - Page:3B898765-D3C3-4B91-970F-3CA74F6976C0
                      - Insured_Item_Unique_Identifier
                      value: C-GAQX
                    - name: DefinedDataTable0:9
                      originalValue: C-GAQZ
                      phType: DefinedData
                      tags:
                      - Page:40642071-CB92-487E-85DA-30F7F07DAB57
                      - Insured_Item_Unique_Identifier
                      value: C-GAQZ
                    - name: DefinedDataTable0:10
                      originalValue: C-GARG
                      phType: DefinedData
                      tags:
                      - Page:ACDFC277-0E5D-46DE-B2AF-AC89A1049E4A
                      - Insured_Item_Unique_Identifier
                      value: C-GARG
                    - name: DefinedDataTable0:11
                      originalValue: C-GBHM
                      phType: DefinedData
                      tags:
                      - Page:F7960BE2-86EC-4F84-A1A7-DE73B867EEA5
                      - Insured_Item_Unique_Identifier
                      value: C-GBHM
                    - name: DefinedDataTable0:12
                      originalValue: C-GBIP
                      phType: DefinedData
                      tags:
                      - Page:52C0C09F-37D0-4BAD-A78E-75D193027E16
                      - Insured_Item_Unique_Identifier
                      value: C-GBIP
                    - name: DefinedDataTable0:13
                      originalValue: C-GITP
                      phType: DefinedData
                      tags:
                      - Page:5AC9B742-C9A6-4D90-8F79-55EDE7DDF70F
                      - Insured_Item_Unique_Identifier
                      value: C-GITP
                    - name: DefinedDataTable0:14
                      originalValue: C-GITR
                      phType: DefinedData
                      tags:
                      - Page:3EC9F498-CC67-469F-9109-7E4303FFE428
                      - Insured_Item_Unique_Identifier
                      value: C-GITR
                    - name: DefinedDataTable0:15
                      originalValue: C-FDCA
                      phType: DefinedData
                      tags:
                      - Page:B78D0CB1-5306-469C-BECD-B2620A7DCA3C
                      - Insured_Item_Unique_Identifier
                      value: C-FDCA
                    - name: DefinedDataTable0:16
                      originalValue: C-FDQQ
                      phType: DefinedData
                      tags:
                      - Page:553D8406-B250-41A9-AB89-0377098606D6
                      - Insured_Item_Unique_Identifier
                      value: C-FDQQ
                    - name: DefinedDataTable0:17
                      originalValue: C-FDQV
                      phType: DefinedData
                      tags:
                      - Page:EFDE0C45-A6C5-473F-A896-D988493EE56F
                      - Insured_Item_Unique_Identifier
                      value: C-FDQV
                    - name: DefinedDataTable0:18
                      originalValue: C-FDRH
                      phType: DefinedData
                      tags:
                      - Page:7B0C0594-8EB4-4FB5-81E3-F27347FC8B35
                      - Insured_Item_Unique_Identifier
                      value: C-FDRH
                    - name: DefinedDataTable0:19
                      originalValue: C-FDRK
                      phType: DefinedData
                      tags:
                      - Page:38F16D12-D30E-4538-B170-CB995B089E58
                      - Insured_Item_Unique_Identifier
                      value: C-FDRK
                    - name: DefinedDataTable0:20
                      originalValue: C-FDRP
                      phType: DefinedData
                      tags:
                      - Page:3042C875-8552-4FAE-9DDF-933184095623
                      - Insured_Item_Unique_Identifier
                      value: C-FDRP
                    - name: DefinedDataTable0:21
                      originalValue: C-FDSN
                      phType: DefinedData
                      tags:
                      - Page:B34F9A50-A1EE-4D2E-AA13-88E722104F89
                      - Insured_Item_Unique_Identifier
                      value: C-FDSN
                    - name: DefinedDataTable0:22
                      originalValue: C-FDST
                      phType: DefinedData
                      tags:
                      - Page:8E742C61-86A6-4D21-9377-0C4E904E3BAC
                      - Insured_Item_Unique_Identifier
                      value: C-FDST
                    - name: DefinedDataTable0:23
                      originalValue: C-FDSU
                      phType: DefinedData
                      tags:
                      - Page:795B69BC-0580-4B15-8AF0-7DD47B5B623D
                      - Insured_Item_Unique_Identifier
                      value: C-FDSU
                    - name: DefinedDataTable0:24
                      originalValue: C-FFWI
                      phType: DefinedData
                      tags:
                      - Page:559F4455-B380-49BA-AC89-6BE5BB710567
                      - Insured_Item_Unique_Identifier
                      value: C-FFWI
                    - name: DefinedDataTable0:25
                      originalValue: C-FFWJ
                      phType: DefinedData
                      tags:
                      - Page:0477B9EE-ABB5-4DC0-BD0E-942C9F5B01F7
                      - Insured_Item_Unique_Identifier
                      value: C-FFWJ
                    - name: DefinedDataTable0:26
                      originalValue: C-FFWM
                      phType: DefinedData
                      tags:
                      - Page:9B12B12D-BAE5-4F32-859A-FB9AB68EAAFD
                      - Insured_Item_Unique_Identifier
                      value: C-FFWM
                    - name: DefinedDataTable0:27
                      originalValue: C-FFWN
                      phType: DefinedData
                      tags:
                      - Page:DFA714E1-3889-44E4-9666-C96BFE42D35F
                      - Insured_Item_Unique_Identifier
                      value: C-FFWN
                    - name: DefinedDataTable0:28
                      originalValue: C-FGJI
                      phType: DefinedData
                      tags:
                      - Page:C90989A1-6325-402E-9480-E7B6DA16396F
                      - Insured_Item_Unique_Identifier
                      value: C-FGJI
                    - name: DefinedDataTable0:29
                      originalValue: C-FGKH
                      phType: DefinedData
                      tags:
                      - Page:612762E6-0DBD-4C09-B3A4-12E0FB826B73
                      - Insured_Item_Unique_Identifier
                      value: C-FGKH
                    - name: DefinedDataTable0:30
                      originalValue: C-FGYL
                      phType: DefinedData
                      tags:
                      - Page:679EC554-7FC1-48EC-8EBC-89CEF5E29311
                      - Insured_Item_Unique_Identifier
                      value: C-FGYL
                    - name: DefinedDataTable0:31
                      originalValue: C-FGYS
                      phType: DefinedData
                      tags:
                      - Page:65B07E07-DD2C-43B0-A611-49142B7E69C9
                      - Insured_Item_Unique_Identifier
                      value: C-FGYS
                    - name: DefinedDataTable0:32
                      originalValue: C-FKCK
                      phType: DefinedData
                      tags:
                      - Page:44FA1F72-B58F-46CA-90AD-E864BB2DDFA8
                      - Insured_Item_Unique_Identifier
                      value: C-FKCK
                    - name: DefinedDataTable0:33
                      originalValue: C-FKCO
                      phType: DefinedData
                      tags:
                      - Page:CEC2148E-302D-4C87-9109-FA3977C446F9
                      - Insured_Item_Unique_Identifier
                      value: C-FKCO
                    - name: DefinedDataTable0:34
                      originalValue: Airbus A319-100
                      phType: DefinedData
                      tags:
                      - Page:FA4E7F59-E96F-4B4B-A6E1-337B5F17F47E
                      - Insured_Risk_Factor_Description
                      value: Airbus A319-100
                    - name: DefinedDataTable0:35
                      originalValue: Airbus A319-100
                      phType: DefinedData
                      tags:
                      - Page:653E7083-222E-404C-BA8C-1450DBE74FE6
                      - Insured_Risk_Factor_Description
                      value: Airbus A319-100
                    - name: DefinedDataTable0:36
                      originalValue: Airbus A319-100
                      phType: DefinedData
                      tags:
                      - Page:E45A09FA-BD25-4EDE-9F52-53F946939078
                      - Insured_Risk_Factor_Description
                      value: Airbus A319-100
                    - name: DefinedDataTable0:37
                      originalValue: Airbus A319-100
                      phType: DefinedData
                      tags:
                      - Page:7DCADEE6-6EFD-4FD8-9351-D75554A6F81D
                      - Insured_Risk_Factor_Description
                      value: Airbus A319-100
                    - name: DefinedDataTable0:38
                      originalValue: Airbus A319-100
                      phType: DefinedData
                      tags:
                      - Page:2D517E2B-B920-4503-89E1-83E0ED1E8979
                      - Insured_Risk_Factor_Description
                      value: Airbus A319-100
                    - name: DefinedDataTable0:39
                      originalValue: Airbus A319-100
                      phType: DefinedData
                      tags:
                      - Page:26810E1A-F8B9-4126-AB4C-898669878C38
                      - Insured_Risk_Factor_Description
                      value: Airbus A319-100
                    - name: DefinedDataTable0:40
                      originalValue: Airbus A319-100
                      phType: DefinedData
                      tags:
                      - Page:099D0E12-C61B-4FA1-9591-EC19D5B04377
                      - Insured_Risk_Factor_Description
                      value: Airbus A319-100
                    - name: DefinedDataTable0:41
                      originalValue: Airbus A319-100
                      phType: DefinedData
                      tags:
                      - Page:B83DF096-2A31-49DA-92C7-631F93396724
                      - Insured_Risk_Factor_Description
                      value: Airbus A319-100
                    - name: DefinedDataTable0:42
                      originalValue: Airbus A319-100
                      phType: DefinedData
                      tags:
                      - Page:3B898765-D3C3-4B91-970F-3CA74F6976C0
                      - Insured_Risk_Factor_Description
                      value: Airbus A319-100
                    - name: DefinedDataTable0:43
                      originalValue: Airbus A319-100
                      phType: DefinedData
                      tags:
                      - Page:40642071-CB92-487E-85DA-30F7F07DAB57
                      - Insured_Risk_Factor_Description
                      value: Airbus A319-100
                    - name: DefinedDataTable0:44
                      originalValue: Airbus A319-100
                      phType: DefinedData
                      tags:
                      - Page:ACDFC277-0E5D-46DE-B2AF-AC89A1049E4A
                      - Insured_Risk_Factor_Description
                      value: Airbus A319-100
                    - name: DefinedDataTable0:45
                      originalValue: Airbus A319-100
                      phType: DefinedData
                      tags:
                      - Page:F7960BE2-86EC-4F84-A1A7-DE73B867EEA5
                      - Insured_Risk_Factor_Description
                      value: Airbus A319-100
                    - name: DefinedDataTable0:46
                      originalValue: Airbus A319-100
                      phType: DefinedData
                      tags:
                      - Page:52C0C09F-37D0-4BAD-A78E-75D193027E16
                      - Insured_Risk_Factor_Description
                      value: Airbus A319-100
                    - name: DefinedDataTable0:47
                      originalValue: Airbus A319-100
                      phType: DefinedData
                      tags:
                      - Page:5AC9B742-C9A6-4D90-8F79-55EDE7DDF70F
                      - Insured_Risk_Factor_Description
                      value: Airbus A319-100
                    - name: DefinedDataTable0:48
                      originalValue: Airbus A319-100
                      phType: DefinedData
                      tags:
                      - Page:3EC9F498-CC67-469F-9109-7E4303FFE428
                      - Insured_Risk_Factor_Description
                      value: Airbus A319-100
                    - name: DefinedDataTable0:49
                      originalValue: Airbus A320-200
                      phType: DefinedData
                      tags:
                      - Page:B78D0CB1-5306-469C-BECD-B2620A7DCA3C
                      - Insured_Risk_Factor_Description
                      value: Airbus A320-200
                    - name: DefinedDataTable0:50
                      originalValue: Airbus A320-200
                      phType: DefinedData
                      tags:
                      - Page:553D8406-B250-41A9-AB89-0377098606D6
                      - Insured_Risk_Factor_Description
                      value: Airbus A320-200
                    - name: DefinedDataTable0:51
                      originalValue: Airbus A320-200
                      phType: DefinedData
                      tags:
                      - Page:EFDE0C45-A6C5-473F-A896-D988493EE56F
                      - Insured_Risk_Factor_Description
                      value: Airbus A320-200
                    - name: DefinedDataTable0:52
                      originalValue: Airbus A320-200
                      phType: DefinedData
                      tags:
                      - Page:7B0C0594-8EB4-4FB5-81E3-F27347FC8B35
                      - Insured_Risk_Factor_Description
                      value: Airbus A320-200
                    - name: DefinedDataTable0:53
                      originalValue: Airbus A320-200
                      phType: DefinedData
                      tags:
                      - Page:38F16D12-D30E-4538-B170-CB995B089E58
                      - Insured_Risk_Factor_Description
                      value: Airbus A320-200
                    - name: DefinedDataTable0:54
                      originalValue: Airbus A320-200
                      phType: DefinedData
                      tags:
                      - Page:3042C875-8552-4FAE-9DDF-933184095623
                      - Insured_Risk_Factor_Description
                      value: Airbus A320-200
                    - name: DefinedDataTable0:55
                      originalValue: Airbus A320-200
                      phType: DefinedData
                      tags:
                      - Page:B34F9A50-A1EE-4D2E-AA13-88E722104F89
                      - Insured_Risk_Factor_Description
                      value: Airbus A320-200
                    - name: DefinedDataTable0:56
                      originalValue: Airbus A320-200
                      phType: DefinedData
                      tags:
                      - Page:8E742C61-86A6-4D21-9377-0C4E904E3BAC
                      - Insured_Risk_Factor_Description
                      value: Airbus A320-200
                    - name: DefinedDataTable0:57
                      originalValue: Airbus A320-200
                      phType: DefinedData
                      tags:
                      - Page:795B69BC-0580-4B15-8AF0-7DD47B5B623D
                      - Insured_Risk_Factor_Description
                      value: Airbus A320-200
                    - name: DefinedDataTable0:58
                      originalValue: Airbus A320-200
                      phType: DefinedData
                      tags:
                      - Page:559F4455-B380-49BA-AC89-6BE5BB710567
                      - Insured_Risk_Factor_Description
                      value: Airbus A320-200
                    - name: DefinedDataTable0:59
                      originalValue: Airbus A320-200
                      phType: DefinedData
                      tags:
                      - Page:0477B9EE-ABB5-4DC0-BD0E-942C9F5B01F7
                      - Insured_Risk_Factor_Description
                      value: Airbus A320-200
                    - name: DefinedDataTable0:60
                      originalValue: Airbus A320-200
                      phType: DefinedData
                      tags:
                      - Page:9B12B12D-BAE5-4F32-859A-FB9AB68EAAFD
                      - Insured_Risk_Factor_Description
                      value: Airbus A320-200
                    - name: DefinedDataTable0:61
                      originalValue: Airbus A320-200
                      phType: DefinedData
                      tags:
                      - Page:DFA714E1-3889-44E4-9666-C96BFE42D35F
                      - Insured_Risk_Factor_Description
                      value: Airbus A320-200
                    - name: DefinedDataTable0:62
                      originalValue: Airbus A320-200
                      phType: DefinedData
                      tags:
                      - Page:C90989A1-6325-402E-9480-E7B6DA16396F
                      - Insured_Risk_Factor_Description
                      value: Airbus A320-200
                    - name: DefinedDataTable0:63
                      originalValue: Airbus A320-200
                      phType: DefinedData
                      tags:
                      - Page:612762E6-0DBD-4C09-B3A4-12E0FB826B73
                      - Insured_Risk_Factor_Description
                      value: Airbus A320-200
                    - name: DefinedDataTable0:64
                      originalValue: Airbus A320-200
                      phType: DefinedData
                      tags:
                      - Page:679EC554-7FC1-48EC-8EBC-89CEF5E29311
                      - Insured_Risk_Factor_Description
                      value: Airbus A320-200
                    - name: DefinedDataTable0:65
                      originalValue: Airbus A320-200
                      phType: DefinedData
                      tags:
                      - Page:65B07E07-DD2C-43B0-A611-49142B7E69C9
                      - Insured_Risk_Factor_Description
                      value: Airbus A320-200
                    - name: DefinedDataTable0:66
                      originalValue: Airbus A320-200
                      phType: DefinedData
                      tags:
                      - Page:44FA1F72-B58F-46CA-90AD-E864BB2DDFA8
                      - Insured_Risk_Factor_Description
                      value: Airbus A320-200
                    - name: DefinedDataTable0:67
                      originalValue: Airbus A320-200
                      phType: DefinedData
                      tags:
                      - Page:CEC2148E-302D-4C87-9109-FA3977C446F9
                      - Insured_Risk_Factor_Description
                      value: Airbus A320-200
                    subItems: []
                    tagPages:
                    - pageID: FA4E7F59-E96F-4B4B-A6E1-337B5F17F47E
                      sectionIDs: []
                      title: ''
                    - pageID: 653E7083-222E-404C-BA8C-1450DBE74FE6
                      sectionIDs: []
                      title: ''
                    - pageID: E45A09FA-BD25-4EDE-9F52-53F946939078
                      sectionIDs: []
                      title: ''
                    - pageID: 7DCADEE6-6EFD-4FD8-9351-D75554A6F81D
                      sectionIDs: []
                      title: ''
                    - pageID: 2D517E2B-B920-4503-89E1-83E0ED1E8979
                      sectionIDs: []
                      title: ''
                    - pageID: 26810E1A-F8B9-4126-AB4C-898669878C38
                      sectionIDs: []
                      title: ''
                    - pageID: 099D0E12-C61B-4FA1-9591-EC19D5B04377
                      sectionIDs: []
                      title: ''
                    - pageID: B83DF096-2A31-49DA-92C7-631F93396724
                      sectionIDs: []
                      title: ''
                    - pageID: 3B898765-D3C3-4B91-970F-3CA74F6976C0
                      sectionIDs: []
                      title: ''
                    - pageID: 40642071-CB92-487E-85DA-30F7F07DAB57
                      sectionIDs: []
                      title: ''
                    - pageID: ACDFC277-0E5D-46DE-B2AF-AC89A1049E4A
                      sectionIDs: []
                      title: ''
                    - pageID: F7960BE2-86EC-4F84-A1A7-DE73B867EEA5
                      sectionIDs: []
                      title: ''
                    - pageID: 52C0C09F-37D0-4BAD-A78E-75D193027E16
                      sectionIDs: []
                      title: ''
                    - pageID: 5AC9B742-C9A6-4D90-8F79-55EDE7DDF70F
                      sectionIDs: []
                      title: ''
                    - pageID: 3EC9F498-CC67-469F-9109-7E4303FFE428
                      sectionIDs: []
                      title: ''
                    - pageID: B78D0CB1-5306-469C-BECD-B2620A7DCA3C
                      sectionIDs: []
                      title: ''
                    - pageID: 553D8406-B250-41A9-AB89-0377098606D6
                      sectionIDs: []
                      title: ''
                    - pageID: EFDE0C45-A6C5-473F-A896-D988493EE56F
                      sectionIDs: []
                      title: ''
                    - pageID: 7B0C0594-8EB4-4FB5-81E3-F27347FC8B35
                      sectionIDs: []
                      title: ''
                    - pageID: 38F16D12-D30E-4538-B170-CB995B089E58
                      sectionIDs: []
                      title: ''
                    - pageID: 3042C875-8552-4FAE-9DDF-933184095623
                      sectionIDs: []
                      title: ''
                    - pageID: B34F9A50-A1EE-4D2E-AA13-88E722104F89
                      sectionIDs: []
                      title: ''
                    - pageID: 8E742C61-86A6-4D21-9377-0C4E904E3BAC
                      sectionIDs: []
                      title: ''
                    - pageID: 795B69BC-0580-4B15-8AF0-7DD47B5B623D
                      sectionIDs: []
                      title: ''
                    - pageID: 559F4455-B380-49BA-AC89-6BE5BB710567
                      sectionIDs: []
                      title: ''
                    - pageID: 0477B9EE-ABB5-4DC0-BD0E-942C9F5B01F7
                      sectionIDs: []
                      title: ''
                    - pageID: 9B12B12D-BAE5-4F32-859A-FB9AB68EAAFD
                      sectionIDs: []
                      title: ''
                    - pageID: DFA714E1-3889-44E4-9666-C96BFE42D35F
                      sectionIDs: []
                      title: ''
                    - pageID: C90989A1-6325-402E-9480-E7B6DA16396F
                      sectionIDs: []
                      title: ''
                    - pageID: 612762E6-0DBD-4C09-B3A4-12E0FB826B73
                      sectionIDs: []
                      title: ''
                    - pageID: 679EC554-7FC1-48EC-8EBC-89CEF5E29311
                      sectionIDs: []
                      title: ''
                    - pageID: 65B07E07-DD2C-43B0-A611-49142B7E69C9
                      sectionIDs: []
                      title: ''
                    - pageID: 44FA1F72-B58F-46CA-90AD-E864BB2DDFA8
                      sectionIDs: []
                      title: ''
                    - pageID: CEC2148E-302D-4C87-9109-FA3977C446F9
                      sectionIDs: []
                      title: ''
                  - elements:
                    - index: 0
                      text: The period during which the results of the Business are affected in consequence of the Damage, beginning with the occurrence of the Damage and ending [[DefinedData0]]
                    fragments: []
                    index: 8
                    locked: false
                    mrcHeading: IndemnityPeriod
                    mrcSection: RiskDetails
                    nameVariation: IndemnityPeriod
                    originalHeading: INDEMNITY PERIOD
                    originalSection: ''
                    placeholders:
                    - name: DefinedData0
                      originalValue: 21 July 2026
                      phType: Date
                      tags:
                      - Page:3CBCA16B-3369-44D8-AC74-9CC06B378D6D
                      - Indemnity_Period_End
                      value: 21 July 2026
                    subItems: []
                    tagPages:
                    - pageID: 3CBCA16B-3369-44D8-AC74-9CC06B378D6D
                      sectionIDs: []
                      title: ''
                  - elements:
                    - index: 0
                      text: ' [[DefinedData0]]'
                    fragments: []
                    index: 9
                    locked: false
                    mrcHeading: Situation
                    mrcSection: RiskDetails
                    nameVariation: Territory
                    originalHeading: TERRITORY
                    originalSection: ''
                    placeholders:
                    - name: DefinedData0
                      originalValue: Worldwide
                      phType: DefinedData
                      tags:
                      - Page:924395A0-1CA5-4CA3-8E13-BFF46C3CF4A8
                      - Risk_Location_Country
                      value: Worldwide
                    subItems: []
                    tagPages:
                    - pageID: 924395A0-1CA5-4CA3-8E13-BFF46C3CF4A8
                      sectionIDs: []
                      title: ''
                  - elements:
                    - index: 0
                      text: ' [[DefinedData1]]'
                    - index: 1
                      text: 'It is hereby agreed that: -'
                    - index: 2
                      text: this insurance shall be governed by the [[DefinedData2]] named below whose Courts shall have jurisdiction in any dispute arising hereunder; and
                    - index: 3
                      text: any summons, notice or process to be served upon the Underwriters for the purpose of instituting any legal
                    - index: 4
                      text: proceedings against them in connection with this insurance may be served upon the person(s) nominated below who have authority to accept service on their behalf.
                    - html: <i>23/7/64</i>
                      index: 5
                      text: 23/7/64
                    - html: <i>[[DefinedData0]]</i>
                      index: 6
                      text: '[[DefinedData0]]'
                    fragments: []
                    index: 10
                    locked: false
                    mrcHeading: ChoiceOfLawAndJurisdiction
                    mrcSection: RiskDetails
                    nameVariation: ChoiceOfLawAndJurisdiction
                    originalHeading: CHOICE OF LAW AND JURISDICTION
                    originalSection: ''
                    placeholders:
                    - name: DefinedData1
                      originalValue: 'Overseas Jurisdiction Clause:'
                      phType: DefinedData
                      tags:
                      - Page:13EDC68D-532F-4537-8E62-1787DD3FE259
                      - Clause_Name
                      value: 'Overseas Jurisdiction Clause:'
                    - name: DefinedData2
                      originalValue: law of the Country
                      phType: DefinedData
                      tags:
                      - Page:13EDC68D-532F-4537-8E62-1787DD3FE259
                      - Choice_Of_Law
                      value: law of the Country
                    - name: DefinedData0
                      originalValue: NMA1483
                      phType: DefinedData
                      tags:
                      - Page:13EDC68D-532F-4537-8E62-1787DD3FE259
                      - Clause_Reference
                      value: NMA1483
                    subItems: []
                    tagPages:
                    - pageID: 13EDC68D-532F-4537-8E62-1787DD3FE259
                      sectionIDs: []
                      title: ''
                  - elements:
                    - index: 0
                      text: ' [[DefinedData0]] [[DefinedData1]]'
                    fragments: []
                    index: 11
                    locked: false
                    mrcHeading: Premium
                    mrcSection: RiskDetails
                    nameVariation: Premium
                    originalHeading: PREMIUM
                    originalSection: ''
                    placeholders:
                    - name: DefinedData0
                      originalValue: GBP 10,500,000
                      phType: DefinedData
                      tags:
                      - Page:2CF35D27-6A5D-41A4-ADCD-B2283405B898
                      - Premium_Amount
                      value: GBP 10,500,000
                    - name: DefinedData1
                      originalValue: Premium
                      phType: DefinedData
                      tags:
                      - Page:2CF35D27-6A5D-41A4-ADCD-B2283405B898
                      - Premium_Type
                      value: Premium
                    subItems: []
                    tagPages:
                    - pageID: 2CF35D27-6A5D-41A4-ADCD-B2283405B898
                      sectionIDs: []
                      title: ''
                  - elements:
                    - index: 0
                      text: 'Premium Payment Clause:'
                    - index: 1
                      text: Notwithstanding any provision to the contrary within this contract or any endorsement hereto, in respect of non-
                    - index: 2
                      text: payment of premium only the following clause will apply. The (Re)Insured undertakes that premium will be paid in full to (Re)Insurers within [[DefinedData0]] of this contract (or, in respect of instalment premiums, when due).
                    - index: 3
                      text: If the premium due under this contract has not been so paid to (Re)Insurers by the 90th day from the inception of this contract (and, in respect of instalment premiums, by the date they are due) (Re)Insurers shall have the right to cancel this contract by notifying the (Re)Insured via the broker in writing. In the event of cancellation, premium is due to (Re)Insurers on a pro rata basis for the period that (Re)Insurers are on risk but the full contract premium shall be payable to (Re)Insurers in the event of a loss or occurrence prior to the date of
                    - index: 4
                      text: termination which gives rise to a valid claim under this
                    - index: 5
                      text: contract.
                    - index: 6
                      text: It is agreed that (Re)Insurers shall give not less than Thirty days prior notice of cancellation to the (Re)Insured via the broker. If premium due is paid in full to (Re)Insurers before the notice period expires, notice of cancellation shall automatically be revoked. If not, the contract shall automatically terminate at the end of the notice period.
                    - index: 7
                      text: If any provision of this clause is found by any court or
                    - index: 8
                      text: administrative body of competent jurisdiction to be invalid or unenforceable, such invalidity or unenforceability will not affect the other provisions of this clause which will remain in full force and effect.
                    - index: 9
                      text: '[[DefinedData1]]'
                    fragments: []
                    index: 12
                    locked: false
                    mrcHeading: PremiumPaymentTerms
                    mrcSection: RiskDetails
                    nameVariation: PaymentTerms
                    originalHeading: PAYMENT TERMS
                    originalSection: ''
                    placeholders:
                    - name: DefinedData0
                      originalValue: 90 days of inception
                      phType: DefinedData
                      tags:
                      - Page:FEEF3D78-2BC2-47A4-BB5C-980BE6934527
                      - Settlement_Terms
                      value: 90 days of inception
                    - name: DefinedData1
                      originalValue: LSW3001
                      phType: DefinedData
                      tags:
                      - Page:FEEF3D78-2BC2-47A4-BB5C-980BE6934527
                      - Clause_Reference
                      value: LSW3001
                    subItems: []
                    tagPages:
                    - pageID: FEEF3D78-2BC2-47A4-BB5C-980BE6934527
                      sectionIDs: []
                      title: ''
                  - elements:
                    - text: None
                    fragments: []
                    index: 13
                    mrcHeading: TaxesPayableByInsuredAndAdministeredByInsurers
                    mrcSection: RiskDetails
                    nameVariation: TaxesPayableByInsuredAndAdministeredByInsurers
                    originalHeading: TAXES PAYABLE BY THE REINSURED AND ADMINISTERED BY INSURERS
                    originalSection: ''
                    placeholders: []
                    subItems: []
                  - elements:
                    - text: Broker Limited may retain risk and claim data / information / documents electronically, and where this is done these documents shall be regarded with the same Legal effect as the original documents.
                    fragments: []
                    index: 14
                    mrcHeading: RecordingTransmittingAndStoringInformation
                    mrcSection: RiskDetails
                    nameVariation: RecordingTransmittingAndStoringInformation
                    originalHeading: RECORDING, TRANSMITTING AND STORING INFORMATION
                    originalSection: ''
                    placeholders: []
                    subItems: []
                  - elements:
                    - text: This document details the contract terms entered into by the Insurer(s) and constitutes the contract document.
                    fragments: []
                    index: 15
                    mrcHeading: InsurerContractDocumentation
                    mrcSection: RiskDetails
                    nameVariation: InsurerContractDocumentation
                    originalHeading: INSURER CONTRACT DOCUMENTATION
                    originalSection: ''
                    placeholders: []
                    subItems: []
                  - elements: []
                    fragments: []
                    index: 16
                    mrcHeading: NonMRCHeading
                    mrcSection: Information
                    nameVariation: NonMRCHeading
                    originalHeading: 'INFORMATION '
                    originalSection: self
                    placeholders: []
                    subItems: []
                  - elements:
                    - index: 0
                      text: British Airways, part of International Airlines Group, is one of the world's leading global premium airlines and the largest international carrier in the UK.
                    - index: 1
                      table:
                        columnsSpecs:
                        - alignment: left
                          x: 0
                        - alignment: left
                          x: 0
                        rows:
                        - height: 47
                          values:
                          - contact the agent first.  If the dispute is  not resolved, you may contact the Texas  Department of Insurance.
                          - prima de seguro o con una reclamación,  usted debe comunicarse con el agente  primero.  Si la disputa no es  resuelta,
                        - height: 22
                          values:
                          - ''
                          - usted puede  comunicarse con el
                        - height: 24
                          values:
                          - ''
                          - Departamento de Seguros de Texas .
                        - height: 22
                          values:
                          - ATTACH THIS NOTICE TO YOUR
                          - 'ADJUNTE ESTE AVISO A SU PÓLIZA:'
                        - height: 22
                          values:
                          - 'POLICY:  This notice is for information'
                          - Este aviso es solamente para propósitos
                        - height: 22
                          values:
                          - only and does not become a part or
                          - informativos y no se convierte en parte o
                        - height: 22
                          values:
                          - condition of the attached document.
                          - en condición del documento adjunto.
                        rowsSpecs: []
                        widths:
                        - 303
                        - 288
                    - bulletValue: ''
                      indent: 2
                      index: 2
                      text: ''
                    fragments: []
                    index: 17
                    locked: false
                    mrcHeading: Information
                    mrcSection: Information
                    nameVariation: Information
                    originalHeading: INFORMATION
                    originalSection: ''
                    placeholders: []
                    subItems: []
                    tagPages:
                    - pageID: CC94CD89-ED7C-4BF5-A4C8-EC60E82AEC28
                      sectionIDs: []
                      title: ''
                  - elements: []
                    fragments: []
                    index: 40
                    mrcHeading: NonMRCHeading
                    mrcSection: SecurityDetails
                    nameVariation: NonMRCHeading
                    originalHeading: 'SECURITY DETAILS '
                    originalSection: self
                    placeholders: []
                    subItems: []
                  - elements:
                    - index: 0
                      text: ' [[DefinedData0]] several not joint:'
                    - index: 1
                      text: The liability of a (re)insurer under this contract is several and not joint with other (re)insurers party to this contract. A (re)insurer is liable only for the proportion of liability it has underwritten. A (re)insurer is not jointly liable for the proportion of liability underwritten by any other (re)insurer. Nor is a (re)insurer otherwise responsible for any liability of any other (re)insurer that may underwrite this contract.
                    - index: 2
                      text: The proportion of liability under this contract underwritten by a (re)insurer (or, in the case of a Lloyd’s syndicate, the total of the proportions underwritten by all the members of the syndicate taken together) is shown next to its stamp. This is subject always to the provision concerning “signing” below.
                    - index: 3
                      text: In the case of a Lloyd’s syndicate, each member of the syndicate (rather than the syndicate itself) is a (re)insurer. Each member has underwritten a proportion of the total shown for the syndicate (that total itself being the total of the proportions underwritten by all the members of the syndicate taken together). The liability of each member of the syndicate is several and not joint with other members. A member is liable only for that member’s proportion. A member is not jointly liable for any other member’s proportion. Nor is any member otherwise responsible for any liability of any other (re)insurer that may underwrite this contract. The business address of each member is Lloyd’s, One Lime Street, London EC3M 7HA. The identity of each member of a Lloyd’s syndicate and their respective proportion may be obtained by writing to Market Services, Lloyd’s, at the above address.
                    - index: 4
                      text: 'Proportion of liability:'
                    - index: 5
                      text: Unless there is “signing” (see below), the proportion of liability under this contract underwritten by each (re)insurer (or, in the case of a Lloyd’s syndicate, the total of the proportions underwritten by all the members of the syndicate taken together) is shown next to its stamp and is referred to as its “written line”.
                    - index: 6
                      text: Where this contract permits, written lines, or certain written lines, may be adjusted (“signed”). In that case a schedule is to be appended to this contract to show the definitive proportion of liability under this contract underwritten by each (re)insurer (or, in the case of a Lloyd’s syndicate, the total of the proportions underwritten by all the members of the syndicate taken together). A definitive proportion (or, in the case of a Lloyd’s syndicate, the total of the proportions underwritten by all the members of a Lloyd’s syndicate taken together) is referred to as a “signed line”. The signed lines shown in the schedule will prevail over the written lines. Although reference is made at various points in this clause to “this contract” in the singular, where the circumstances so require this should be read as a reference to contracts in the plural.
                    - index: 7
                      text: '[[DefinedData1]] (amended)'
                    fragments: []
                    index: 41
                    locked: false
                    mrcHeading: ReinsurersLiability
                    mrcSection: SecurityDetails
                    nameVariation: ReinsurersLiability
                    originalHeading: REINSURER’S LIABILITY
                    originalSection: ''
                    placeholders:
                    - name: DefinedData0
                      originalValue: (Re)insurer’s liability
                      phType: DefinedData
                      tags:
                      - Page:46CDD0CA-118B-4691-8F59-241DE122406B
                      - Clause_Name
                      value: (Re)insurer’s liability
                    - name: DefinedData1
                      originalValue: LMA3333
                      phType: DefinedData
                      tags:
                      - Page:46CDD0CA-118B-4691-8F59-241DE122406B
                      - Clause_Reference
                      value: LMA3333
                    subItems: []
                    tagPages:
                    - pageID: 46CDD0CA-118B-4691-8F59-241DE122406B
                      sectionIDs: []
                      title: ''
                  - elements:
                    - text: In a co-insurance placement, following (re)insurers may, but are not
                    - text: obliged to, follow the premium charged by the lead (re)insurer.
                    - text: (Re)insurers may not seek to guarantee for themselves terms as favourable as those which others subsequently achieve during the placement.
                    fragments: []
                    index: 42
                    mrcHeading: InsurersWrittenLine
                    mrcSection: SecurityDetails
                    nameVariation: InsurersWrittenLine
                    originalHeading: WRITTEN LINES
                    originalSection: ''
                    placeholders: []
                    subItems: []
                  - elements:
                    - index: 0
                      text: ' [[DefinedData0]]'
                    fragments: []
                    index: 43
                    locked: false
                    mrcHeading: OrderHereon
                    mrcSection: SecurityDetails
                    nameVariation: OrderHereon
                    originalHeading: ORDER HEREON
                    originalSection: ''
                    placeholders:
                    - name: DefinedData0
                      originalValue: 100% of 100%
                      phType: DefinedData
                      tags:
                      - Page:C9C083D9-E2A0-470C-A39F-51483B33E07A
                      - Order
                      value: 100% of 100%
                    subItems: []
                    tagPages:
                    - pageID: C9C083D9-E2A0-470C-A39F-51483B33E07A
                      sectionIDs: []
                      title: ''
                  - elements:
                    - index: 0
                      text: ' [[DefinedData0]]'
                    fragments: []
                    index: 44
                    locked: false
                    mrcHeading: BasisOfWrittenLines
                    mrcSection: SecurityDetails
                    nameVariation: BasisOfWrittenLines
                    originalHeading: BASIS OF WRITTEN LINES
                    originalSection: ''
                    placeholders:
                    - name: DefinedData0
                      originalValue: Percentage of Whole
                      phType: DefinedData
                      tags:
                      - Page:2CE674DF-39F6-47F7-88C4-26BD0C506170
                      - Basis_Of_Written_Lines
                      value: Percentage of Whole
                    subItems: []
                    tagPages:
                    - pageID: 2CE674DF-39F6-47F7-88C4-26BD0C506170
                      sectionIDs: []
                      title: ''
                  - elements:
                    - index: 0
                      text: ' [[DefinedData0]]'
                    fragments: []
                    index: 45
                    locked: false
                    mrcHeading: BasisOfSignedLines
                    mrcSection: SecurityDetails
                    nameVariation: BasisOfSignedLines
                    originalHeading: BASIS OF SIGNED LINES
                    originalSection: ''
                    placeholders:
                    - name: DefinedData0
                      originalValue: Percentage of Whole
                      phType: DefinedData
                      tags:
                      - Page:D2B741F4-A244-4A1E-9023-E00562BA84D0
                      - Basis_Of_Signed_Lines
                      value: Percentage of Whole
                    subItems: []
                    tagPages:
                    - pageID: D2B741F4-A244-4A1E-9023-E00562BA84D0
                      sectionIDs: []
                      title: ''
                  - elements: []
                    fragments: []
                    index: 18
                    mrcHeading: NonMRCHeading
                    mrcSection: SubscriptionAgreement
                    nameVariation: NonMRCHeading
                    originalHeading: 'SUBSCRIPTION AGREEMENT '
                    originalSection: self
                    placeholders: []
                    subItems: []
                  - elements:
                    - html: The Slip Leader is <i>[[DefinedData0]]</i>
                      index: 0
                      text: The Slip Leader is [[DefinedData0]]
                    fragments: []
                    index: 19
                    locked: false
                    mrcHeading: SlipLeader
                    mrcSection: SubscriptionAgreement
                    nameVariation: SlipLeader
                    originalHeading: SLIP LEADER
                    originalSection: ''
                    placeholders:
                    - name: DefinedData0
                      originalValue: 'Tomy Underwriting  '
                      phType: DefinedData
                      tags:
                      - Page:58865241-E14C-4CC4-BEC5-A917DC1929DB
                      - Contract_Leader_Name
                      value: 'Tomy Underwriting  '
                    subItems: []
                    tagPages:
                    - pageID: 58865241-E14C-4CC4-BEC5-A917DC1929DB
                      sectionIDs: []
                      title: ''
                  - elements:
                    - html: The Bureau(x) Leader(s) (where applicable) is <i>[[DefinedData0]]</i>
                      index: 0
                      text: The Bureau(x) Leader(s) (where applicable) is [[DefinedData0]]
                    fragments: []
                    index: 20
                    locked: false
                    mrcHeading: BureauLeader
                    mrcSection: SubscriptionAgreement
                    nameVariation: BureauLeader
                    originalHeading: BUREAU(X) LEADER(S)
                    originalSection: ''
                    placeholders:
                    - name: DefinedData0
                      originalValue: AAA NNN
                      phType: DefinedData
                      tags:
                      - Page:499F6B5E-A0C6-428D-862B-A574AE40C42F
                      - Bureau_Leader_Name
                      value: AAA NNN
                    subItems: []
                    tagPages:
                    - pageID: 499F6B5E-A0C6-428D-862B-A574AE40C42F
                      sectionIDs: []
                      title: ''
                  - elements:
                    - text: Where no Other Agreement Parties for contract changes are stated herein, the Agreement Parties will be the Slip Leader only.
                    fragments: []
                    index: 21
                    mrcHeading: OtherAgreementPartiesForContractChangesForPart2GUAChangesOnly
                    mrcSection: SubscriptionAgreement
                    nameVariation: OtherAgreementPartiesForContractChangesForPart2GUAChangesOnly
                    originalHeading: OTHER AGREEMENT PARTIES FOR CONTRACT CHANGES, FOR PART TWO GUA CHANGES ONLY
                    originalSection: ''
                    placeholders: []
                    subItems: []
                  - elements:
                    - text: None
                    fragments: []
                    index: 22
                    mrcHeading: AgreementPartiesForContractChangesForTheirProportionOnly
                    mrcSection: SubscriptionAgreement
                    nameVariation: AgreementPartiesForContractChangesForTheirProportionOnly
                    originalHeading: AGREEMENT PARTIES FOR CONTRACT CHANGES, FOR THEIR PROPORTION ONLY
                    originalSection: ''
                    placeholders: []
                    subItems: []
                  - elements:
                    - index: 0
                      text: 'Claims to be managed in accordance with:'
                    - bulletValue: '-'
                      indent: 0
                      index: 1
                      text: '[[DefinedData0]], or as amended or any successor thereto. The applicable Scheme/part will be determined by the rules and scope of the Scheme(s);'
                    - bulletValue: '-'
                      indent: 0
                      index: 2
                      text: '[[DefinedData1]];'
                    - bulletValue: '-'
                      indent: 0
                      index: 3
                      text: The practices of any (re)insurer(s) electing to agree claims in respect of their own participation.
                    - bulletValue: '-'
                      indent: 0
                      index: 4
                      text: Unless otherwise detailed in the Risk Details, the Slip Leader may instruct any third-party expert to investigate and adjust any claim or circumstance
                    - bulletValue: ''
                      indent: 1
                      index: 5
                      text: notified to the contract.
                    fragments: []
                    index: 23
                    locked: false
                    mrcHeading: BasisOfClaimsAgreement
                    mrcSection: SubscriptionAgreement
                    nameVariation: BasisOfClaimsAgreement
                    originalHeading: BASIS OF CLAIMS AGREEMENT
                    originalSection: ''
                    placeholders:
                    - name: DefinedData0
                      originalValue: The Lloyd’s Claims Scheme (Combined)
                      phType: DefinedData
                      tags:
                      - Page:E18F0A2C-E9DA-4A85-9A12-628E089958BB
                      - Basis_Of_Claims_Agreement
                      value: The Lloyd’s Claims Scheme (Combined)
                    - name: DefinedData1
                      originalValue: IUA claims agreement practices
                      phType: DefinedData
                      tags:
                      - Page:25FEE7AE-1FE6-499E-97D2-80B110335F2F
                      - Basis_Of_Claims_Agreement
                      value: IUA claims agreement practices
                    subItems: []
                    tagPages:
                    - pageID: E18F0A2C-E9DA-4A85-9A12-628E089958BB
                      sectionIDs: []
                      title: ''
                    - pageID: 25FEE7AE-1FE6-499E-97D2-80B110335F2F
                      sectionIDs: []
                      title: ''
                  - elements:
                    - index: 0
                      text: The Lead Claims Agreement Party is deemed to be the [[DefinedData0]] unless otherwise specified here.
                    - index: 1
                      text: For Lloyd’s syndicates, the leading Lloyd’s syndicate and, where required by the applicable Lloyd’s Claims Scheme, the second Lloyd’s syndicate. The second Lloyd’s syndicate is SII 1945.
                    - index: 2
                      text: For company (re)insurers, all IUA subscribing companies agree to follow the IUA claims agreement practices.
                    - index: 3
                      text: All other subscribing (re)insurers, each in respect of their own participation, that are not party to the Lloyd’s or IUA claims agreement practices, agree to follow the decisions of the Lloyd’s and IUA claims agreement parties or the lead Claims Agreement Party where such is not otherwise the Lloyd’s or IUA lead, excepting those that may have opted out below.
                    fragments: []
                    index: 24
                    locked: false
                    mrcHeading: ClaimsAgreementParties
                    mrcSection: SubscriptionAgreement
                    nameVariation: ClaimsAgreementParties
                    originalHeading: CLAIMS AGREEMENT PARTIES
                    originalSection: ''
                    placeholders:
                    - name: DefinedData0
                      originalValue: Slip Leader
                      phType: DefinedData
                      tags:
                      - Page:0C6FBBB8-9DEB-4A8E-A816-5A2A17FC944A
                      - Claims_Agreement_Name
                      value: Slip Leader
                    subItems: []
                    tagPages:
                    - pageID: 0C6FBBB8-9DEB-4A8E-A816-5A2A17FC944A
                      sectionIDs: []
                      title: ''
                  - elements:
                    - text: Broker Limited and (re)insurer(s) agree that any claims hereunder (including any claims related costs/fees) will be notified and administered via ECF with any payment(s) processed via CLASS, unless both parties agree to do otherwise and/or IUA Claims Agreement Practices as required.
                    fragments: []
                    index: 25
                    mrcHeading: ClaimsAdministration
                    mrcSection: SubscriptionAgreement
                    nameVariation: ClaimsAdministration
                    originalHeading: CLAIMS ADMINISTRATION
                    originalSection: ''
                    placeholders: []
                    subItems: []
                  - elements:
                    - text: None, unless otherwise specified here by any of the claim agreement parties shown above.
                    fragments: []
                    index: 26
                    mrcHeading: RulesAndExtentOfAnyOtherDelegatedClaimsAuthority
                    mrcSection: SubscriptionAgreement
                    nameVariation: RulesAndExtentOfAnyOtherDelegatedClaimsAuthority
                    originalHeading: RULES AND EXTENT OF ANY OTHER DELEGATED CLAIMS AUTHORITY
                    originalSection: ''
                    placeholders: []
                    subItems: []
                  - elements:
                    - text: Broker Limited will not undertake the collection of any fee invoices rendered by third parties unless in Broker Limited’s view the fees form part of the (Re)Insured’s claim or the work is for the exclusive benefit of the (Re)Insured. As an example of this, Broker Limited will not collect loss adjusters’ fees or the fees of coverage counsel.
                    - text: 'Broker Limited will hold all monies which client monies are not (e.g.: Loss Adjuster’s fees, Salvage recoveries and engineering fees) on behalf of the (re)insurers.'
                    fragments: []
                    index: 27
                    mrcHeading: ExpertsFeesCollection
                    mrcSection: SubscriptionAgreement
                    nameVariation: ExpertsFeesCollection
                    originalHeading: EXPERT(S) FEES COLLECTION
                    originalSection: ''
                    placeholders: []
                    subItems: []
                  - elements:
                    - index: 0
                      text: '[[DefinedData0]] or [[DefinedData1]] if the earlier date is a weekend/bank holiday'
                    fragments: []
                    index: 28
                    locked: false
                    mrcHeading: SettlementDueDate
                    mrcSection: SubscriptionAgreement
                    nameVariation: SettlementDueDate
                    originalHeading: SETTLEMENT DUE DATE
                    originalSection: ''
                    placeholders:
                    - name: DefinedData0
                      originalValue: 1 April 2023
                      phType: Date
                      tags:
                      - Page:FA1B6F10-47C2-44D9-8495-089D75106B86
                      - Settlement_Due_Date
                      value: 1 April 2023
                    - name: DefinedData1
                      originalValue: 3 April 2023
                      phType: Date
                      tags:
                      - Page:8155CF84-B140-4BD9-97E6-97F396716E7F
                      - Settlement_Due_Date
                      value: 3 April 2023
                    subItems: []
                    tagPages:
                    - pageID: FA1B6F10-47C2-44D9-8495-089D75106B86
                      sectionIDs: []
                      title: ''
                    - pageID: 8155CF84-B140-4BD9-97E6-97F396716E7F
                      sectionIDs: []
                      title: ''
                  - elements:
                    - text: Broker Limited will submit de-linked accounts to Xchanging Ins-Sure Services Ltd (XIS) where possible.
                    - text: 'In respect of any PPW, PPC, PPD or SDD the following apply:'
                    - text: Premium payment requirements are deemed met by presentation of premium/accounts to XIS on or before the SDD and will not be recorded as a late signing or payment;
                    - text: The SDD is deemed in all instances to be the same as the PPW, PPC or PPD due date;
                    - text: Where the PPW, PPC or PPD has been updated then the SDD shall be deemed to be updated in parallel, unless otherwise stated to the contrary;
                    - text: The PPW, PPC, PPD or SDD shall not be deemed to be breached if the original presentation of the electronic submission to XIS is in time, but subsequently
                    - text: amendments to the electronic submission are notified as being required to enable the premium signing to be completed. In such event Broker Limited shall have an additional period of seven days from such notification to complete the amendments and resubmit the electronic submission to XIS;
                    - text: Where a PPW, PPC, PPD or SDD falls on a weekend or public holiday, presentation to XIS on the next working day will be deemed in compliance with the PPW, PPC, PPD or SDD.
                    - text: (Re)insurer(s) hereby agree that any premium payable in instalments under this contract will be processed as
                    - text: delinked Additional Premium entries other than when submitted under the Deferred Account Scheme. However, any annual instalments to be allocated to respective year of account.
                    - text: (Re)insurer(s) authorise XIS to issue separate signing numbers and dates for their participations only and issue a single claims FDO signing where applicable.
                    - text: Where payments are received by Broker Limited in convertible currencies, (re)insurer(s) agree to accept/settle accounts at rate(s) of exchange obtained by Broker Limited.
                    - text: In respect of convertible currencies, (re)insurer(s) instruct XIS to accept settlement in any valid settlement currency as determined by Broker Limited.
                    - text: In the event of this contract stating multiple insurance and/or reinsurance premiums (each to be paid from a different source); and/or separate entries/sections for taxation/regulation reporting purposes, XIS are instructed to leave the premium advice notes ungrouped so that each can be released separately once paid by the respective client.
                    - text: In the event of partial premium received by Broker Limited, (re)insurer(s) agree to accept premium as paid to and endorsed by Broker Limited.
                    - text: XIS are authorised to sign premium from individual Insureds / territories / sections separately as and when received by Broker Limited.
                    - text: (Re)insurers agree that Broker Limited may settle
                    - text: premiums for this contract/release de-linked premium for this contract into settlement at different times.
                    fragments: []
                    index: 29
                    mrcHeading: BureauxArrangements
                    mrcSection: SubscriptionAgreement
                    nameVariation: BureauxArrangements
                    originalHeading: BUREAUX ARRANGEMENTS
                    originalSection: ''
                    placeholders: []
                    subItems: []
                  - elements:
                    - text: Where a PPW, PPC, PPD or SDD falls on a weekend or public holiday, presentation to (re)insurer(s) hereon as applicable on the next working day will be deemed in compliance with the PPW, PPC, PPD or SDD.
                    - text: Where payments are received by Broker Limited in convertible currencies, (re)insurer(s) agree to accept/settle accounts at rate(s) of exchange obtained by Broker Limited.
                    - text: In respect of convertible currencies, (re)insurer(s) agree to accept settlement in any valid settlement currency as determined by Broker Limited.
                    - text: In the event of partial premium received by Broker Limited, (re)insurer(s) agree to accept premium as paid to and
                    - text: endorsed by Broker Limited.
                    fragments: []
                    index: 30
                    mrcHeading: NonBureauxArrangements
                    mrcSection: SubscriptionAgreement
                    nameVariation: NonBureauxArrangements
                    originalHeading: NON-BUREAUX ARRANGEMENTS
                    originalSection: ''
                    placeholders: []
                    subItems: []
                  - elements: []
                    fragments: []
                    index: 31
                    mrcHeading: NonMRCHeading
                    mrcSection: FiscalAndRegulatory
                    nameVariation: NonMRCHeading
                    originalHeading: 'FISCAL AND REGULATORY '
                    originalSection: self
                    placeholders: []
                    subItems: []
                  - elements:
                    - text: Nil
                    fragments: []
                    index: 32
                    mrcHeading: TaxPayableByInsurers
                    mrcSection: FiscalAndRegulatory
                    nameVariation: TaxPayableByInsurers
                    originalHeading: TAX PAYABLE BY (RE)INSURER(S)
                    originalSection: ''
                    placeholders: []
                    subItems: []
                  - elements:
                    - text: United States of America
                    fragments: []
                    index: 33
                    mrcHeading: CountryOfOrigin
                    mrcSection: FiscalAndRegulatory
                    nameVariation: CountryOfOrigin
                    originalHeading: COUNTRY OF ORIGIN
                    originalSection: ''
                    placeholders: []
                    subItems: []
                  - elements:
                    - index: 0
                      text: ' [[DefinedData0]],'
                    - index: 1
                      text: '[[DefinedData1]],'
                    - index: 2
                      text: '[[DefinedData2]],'
                    - index: 3
                      text: '[[DefinedData3]]'
                    - index: 4
                      text: '[[DefinedData4]]'
                    fragments: []
                    index: 34
                    locked: false
                    mrcHeading: OverseasBroker
                    mrcSection: FiscalAndRegulatory
                    nameVariation: OverseasBroker
                    originalHeading: OVERSEAS BROKER
                    originalSection: ''
                    placeholders:
                    - name: DefinedData0
                      originalValue: Western Broking Union Pacific
                      phType: DefinedData
                      tags:
                      - Page:A1D18D87-5726-49B6-9895-DAE1E26D5D5E
                      - Correspondent_Broker_Name
                      value: Western Broking Union Pacific
                    - name: DefinedData1
                      originalValue: 104 Made Up St
                      phType: DefinedData
                      tags:
                      - Page:A1D18D87-5726-49B6-9895-DAE1E26D5D5E
                      - Correspondent_Broker_Address_Number_And_Street
                      value: 104 Made Up St
                    - name: DefinedData2
                      originalValue: Seattle
                      phType: DefinedData
                      tags:
                      - Page:A1D18D87-5726-49B6-9895-DAE1E26D5D5E
                      - Correspondent_Broker_Address_City_Name
                      value: Seattle
                    - name: DefinedData3
                      originalValue: WA
                      phType: DefinedData
                      tags:
                      - Page:A1D18D87-5726-49B6-9895-DAE1E26D5D5E
                      - Correspondent_Broker_Address_Country_Subentity
                      value: WA
                    - name: DefinedData4
                      originalValue: United States
                      phType: DefinedData
                      tags:
                      - Page:A1D18D87-5726-49B6-9895-DAE1E26D5D5E
                      - Correspondent_Broker_Address_Country
                      value: United States
                    subItems: []
                    tagPages:
                    - pageID: A1D18D87-5726-49B6-9895-DAE1E26D5D5E
                      sectionIDs: []
                      title: ''
                  - elements:
                    - html: ' [[DefinedData0]] – [[DefinedData1]] <i>(General Aviation Hull)</i>'
                      index: 0
                      text: ' [[DefinedData0]] – [[DefinedData1]] (General Aviation Hull)'
                    - html: '[[DefinedData2]] – [[DefinedData3]] <i>(General Aviation Liability)</i>'
                      index: 1
                      text: '[[DefinedData2]] – [[DefinedData3]] (General Aviation Liability)'
                    fragments: []
                    index: 35
                    locked: false
                    mrcHeading: AllocationOfPremiumToCoding
                    mrcSection: FiscalAndRegulatory
                    nameVariation: AllocationOfPremiumToCoding
                    originalHeading: ALLOCATION OF PREMIUM TO CODING
                    originalSection: ''
                    placeholders:
                    - name: DefinedData0
                      originalValue: H3
                      phType: DefinedData
                      tags:
                      - Page:65E4AE05-CFB1-4C6A-92F9-F1CA6C8B5F28
                      - Risk_Code
                      value: H3
                    - name: DefinedData1
                      originalValue: 75%
                      phType: Percentage
                      tags:
                      - Page:65E4AE05-CFB1-4C6A-92F9-F1CA6C8B5F28
                      - Risk_Code_%
                      value: 75%
                    - name: DefinedData2
                      originalValue: L3
                      phType: DefinedData
                      tags:
                      - Page:E27DA522-3DB7-4338-81A4-E548445E2A32
                      - Risk_Code
                      value: L3
                    - name: DefinedData3
                      originalValue: 25%
                      phType: Percentage
                      tags:
                      - Page:E27DA522-3DB7-4338-81A4-E548445E2A32
                      - Risk_Code_%
                      value: 25%
                    subItems: []
                    tagPages:
                    - pageID: 65E4AE05-CFB1-4C6A-92F9-F1CA6C8B5F28
                      sectionIDs: []
                      title: ''
                    - pageID: E27DA522-3DB7-4338-81A4-E548445E2A32
                      sectionIDs: []
                      title: ''
                  - elements:
                    - index: 0
                      text: ' [[DefinedData0]]'
                    fragments: []
                    index: 36
                    locked: false
                    mrcHeading: RegulatoryClientClassification
                    mrcSection: FiscalAndRegulatory
                    nameVariation: RegulatoryClientClassification
                    originalHeading: REGULATORY CLIENT CLASSIFICATION
                    originalSection: ''
                    placeholders:
                    - name: DefinedData0
                      originalValue: Commercial - Large Risk
                      phType: DefinedData
                      tags:
                      - Page:EDBEC158-3D10-4C43-9C71-A01C88BBA0D2
                      - Client_Classification
                      value: Commercial - Large Risk
                    subItems: []
                    tagPages:
                    - pageID: EDBEC158-3D10-4C43-9C71-A01C88BBA0D2
                      sectionIDs: []
                      title: ''
                  - elements: []
                    fragments: []
                    index: 37
                    mrcHeading: NonMRCHeading
                    mrcSection: BrokerRemunerationAndDeductions
                    nameVariation: NonMRCHeading
                    originalHeading: 'BROKER REMUNERATION AND DEDUCTIONS '
                    originalSection: self
                    placeholders: []
                    subItems: []
                  - elements:
                    - html: ' <b>[[DefinedData0]]</b>'
                      index: 0
                      text: ' [[DefinedData0]]'
                    fragments: []
                    index: 38
                    locked: false
                    mrcHeading: TotalBrokerage
                    mrcSection: BrokerRemunerationAndDeductions
                    nameVariation: TotalBrokerage
                    originalHeading: TOTAL BROKERAGE
                    originalSection: ''
                    placeholders:
                    - name: DefinedData0
                      originalValue: 35.5%
                      phType: DefinedData
                      tags:
                      - Page:22A1415B-39C7-4D69-8725-A449C93E455B
                      - Brokerage_%
                      value: 35.5%
                    subItems: []
                    tagPages:
                    - pageID: 22A1415B-39C7-4D69-8725-A449C93E455B
                      sectionIDs: []
                      title: ''
                  - elements:
                    - html: Up to <b>[[DefinedData0]]</b> of the [[DefinedData2]] in respect of survey or engineering [[DefinedData1]] as incurred, to be agreed slip leader only.
                      index: 0
                      text: Up to [[DefinedData0]] of the [[DefinedData2]] in respect of survey or engineering [[DefinedData1]] as incurred, to be agreed slip leader only.
                    fragments: []
                    index: 39
                    locked: false
                    mrcHeading: OtherDeductionsFromPremium
                    mrcSection: BrokerRemunerationAndDeductions
                    nameVariation: OtherDeductionsFromPremium
                    originalHeading: OTHER DEDUCTIONS FROM PREMIUM
                    originalSection: ''
                    placeholders:
                    - name: DefinedData0
                      originalValue: 2.50%
                      phType: Percentage
                      tags:
                      - Page:04EAF55C-DD50-4C01-B3B6-2FA5C93A4D36
                      - Deduction_%
                      value: 2.50%
                    - name: DefinedData2
                      originalValue: Gross Premium
                      phType: DefinedData
                      tags:
                      - Page:04EAF55C-DD50-4C01-B3B6-2FA5C93A4D36
                      - Deduction_Basis
                      value: Gross Premium
                    - name: DefinedData1
                      originalValue: Fees
                      phType: DefinedData
                      tags:
                      - Page:04EAF55C-DD50-4C01-B3B6-2FA5C93A4D36
                      - Deduction_Type
                      value: Fees
                    subItems: []
                    tagPages:
                    - pageID: 04EAF55C-DD50-4C01-B3B6-2FA5C93A4D36
                      sectionIDs: []
                      title: ''
                _id: ICF07F1E4C-A635-42C7-87F7-F7A9229F9E71
                _rev: 14-020eae89f48e605266460bd25619e022
                accountDocID: null
                channels:
                - akhil_ALL
                control:
[...]
